[2020-08-26 21:07] nandorojo commented on #212
@sergiodxa Looks like the cache isn't async, is there a way to use it with something like React Native's `AsyncStorage`? Or did you end up deciding against that?

[2020-08-27 02:19] marouaneat95 opened #618 "useSWRPages is not exported from swr"
I am new to swr package, and I came to know it from a tutorial over the internet, which import a function named useSWRPages from the 'swr' package and uses it to paginate results from call made to API

However when I run the code , it says that 'useSWRPages' is not exported from 'swr'

Did the function exist but has been depreciated or it never was and that's the author's mistake?

[2020-08-27 03:11] huozhi commented on #618
@marouaneat95 `useSWRPages` was removed from swr since v0.3.0. you can use `useSWRInfinite` instead. checkout the usage sample in https://swr.vercel.app/examples/infinite-loading

[2020-08-28 15:53] enayetn opened #625 "useSWRInfinite key type is incorrect"
# Bug report

## Description / Observed Behavior

When attempting to use the useSWRInfinite function, there appears to be a type mismatch between the documented API and the types

## Expected Behavior

`useSWRInfinite((pageIndex:number, previousPageData:any)=>{})` should pass type checking

## Repro Steps / Code Example

Reproduced by following example code at https://swr.vercel.app/docs/paginatio

[2020-08-31 14:03] #625 closed

[2020-08-31 17:44] niamleeson commented on #522
I tried really hard to get a reproducible code, but it looked like it has something to do with the compilation process. I even got to a place where I commented out one component that didn't use `useSWR` and the next build would finish successfully. Then I would uncomment the component back and the build would fail with the navigator message.

However, I did manage to permanently fix it by using th

[2020-09-01 07:56] ath92 commented on #611
@shuding Do you have an update on this? The PR I opened earlier would allow me to use `swr` the way I would like to. Is there a reason why it shouldn't be merged?

I'm also happy to try and help by finding a different approach/fix, but I'd like to know if it makes sense to do that.

[2020-09-01 12:25] shuding commented on #611
Yeah, the key should be the identifier of your data. Personally, I will add more context to the key so it won't conflict:

[code]

And then, it's better to pass parameters to the `fetcher`:

[code]

Furthermore, I can use a global fetcher, don't even need to pass it anywhere:

[code]

You can have more flexibility to pass extra params too if you define `fetcher` like this:
[code]

I think that's s

[2020-09-01 12:29] shuding commented on #611
Released your PR with `swr@0.3.2`, thanks again!

[2020-09-01 12:29] #611 closed

[2020-09-01 13:21] ath92 commented on #611
Awesome, thanks for your help @shuding. I realise my use case is probably not very common, so I appreciate you taking the time to provide examples.

[2020-09-02 08:57] gaoxiaoliangz opened #630 "Add change description info to cache.subscribe"
[code]

Currently nothing is passed to the listener function. I would like to impl some sort of cache sync in my app (sync between localStorage and swr cache). And I would like to know which cache key changed, so that I would not need to iterate through every key and update every cache to localStorage.

[2020-09-02 10:20] SevenOutman commented on #236
Same problem here. In React devtools you see `refreshInterval: 0` in useSWR hook, but the polling doesn't stop.

[2020-09-02 15:05] ryaninvents commented on #630
@gaoxiaoliangz Just as a heads up, looks like #365 will implement this when merged.

[2020-09-03 09:18] SevenOutman opened #632 "Cannot stop polling by setting refreshInterval 0"
SWR version 0.3.1

I have a demo reproducing this issue [here](https://codesandbox.io/s/upbeat-fermi-fi5i0?file=/src/App.js).

In this demo I have a flag variable controlling whether swr should poll by conditionally setting `refreshInterval` value.

[code]

In my swr config I also have an `onSuccess` callback in which I change my flag value

[code]

When the flag is set to `false` as the first fet

[2020-09-03 20:04] Ashot-KR commented on #597
with `revalidateOnMount: false` swr doesn't make request even when there is no cached data yet.
with `revalidateOnMount: true` request will be send even if cached date exists.
I this option `revalidateOnCacheExists: true`(or something like this) will be useful when we need to display cached date without any data requests.

[2020-09-04 00:52] ranisalt commented on #566
Can confirm I'm having the same issue, using `mutate` returned from a call to `useSWR`, where the second call to `mutate` overrides the first if the second fires before the first finishes.

[2020-09-04 06:06] MrNghia123 commented on #522
I upgraded swr from 0.3.1 to 0.3.2 and it fixed the problem.

[2020-09-04 06:17] MrNghia123 commented on #522
The problem seems to be still around in another form. Version 0.3.2 let me build successfully both locally and on Vercel but going to the page presents this runtime problem (from vercel log -f command).

2020-09-04T06:14:02.002Z      ef446b94-a2e0-4cae-9f81-5ce058068f0c    INFO    info  - Loaded env from .env.production
                          2020-09-04T06:14:03.486Z      ef446b94-a2e0-4cae-9f8

[2020-09-06 23:07] Javo-blip opened #637 "data returning { force: true }"
# Bug report

## Description / Observed Behaviour
Sometimes the `data` that is returned from the useSWR hook is a `{ force: true }`
This seems to be caused by the cache value being set to `{ force: true }` to trigger a re-validate? It's only happened since v0.3.x

## Expected Behaviour

`data` should either return undefined or actual returned data from fetcher

[2020-09-07 02:10] promer94 commented on #632
[code]

- change the refreshInterval during the revalidate will trigger the clean-up function too quick.
- the timer cant be update until the revalidate finished

[2020-09-07 06:07] SevenOutman commented on #632
@promer94 Is this expected behavior or an issue to be fixed?

[2020-09-07 12:43] SevenOutman commented on #632
I think it's the naming of `onSuccess` options that is tricky. I understand it as 'when fetches finish', while it's actually not.

A workaround can be moving my 'when fetches finish' logic from `onSuccess` into a customer fetcher.

[code]

[2020-09-08 09:12] promer94 commented on #632
https://github.com/vercel/swr/blob/ba18429bdef596c504f260e09e7d8d9814f8b176/src/use-swr.ts#L361-#L373
``onSuccess`` is actually 'when fetcher finish'.

[2020-09-08 09:58] olelivalife commented on #576
According to [docs](https://github.com/vercel/swr#mutation-and-post-request) it should be possible to update local state ("stale" data) until re-fetch is done...

[2020-09-08 12:19] SevenOutman commented on #632
@SevenOutman But you mentioned in your [comment](https://github.com/vercel/swr/issues/632#issuecomment-687980241) that *"onSuccess called but revalidate has not finished yet"*

[2020-09-08 12:52] promer94 commented on #632
## A simplified revalidation steps
1. revalidate start
2. ```newData = await CONCURRENT_PROMISES[key] ```
***the fetcher has finished and we have newData***
3.  ```eventsRef.current.emit('onSuccess', newData, key, config)```
onSucuess called
4.  newData is used to update stateRef.
5. ***revalidate is over***

So ```onSuccess``` is called after we successfully get the newData.

[2020-09-08 15:44] sergiodxa commented on #576
By local it means the cached data (local is the browser, remote is the API), so you can call `mutate(key, newData, false)` to mutate the cached data without a revalidation, but you need a key and if for some reason SWR decides to revalidate you will lose the non persisted changes.

[2020-09-08 16:58] matt-oakes commented on #471
Just to cross post this here, I have found the issue that's causing this and [submitted a PR](https://github.com/facebook/react-native/pull/29895) to fix it. It's easy to fix this yourself using [patch-package](https://www.npmjs.com/package/patch-package).

[2020-09-09 13:40] derolf opened #644 "SWR swallows React errors thrown inside render when render was triggered during fetch"
# Bug report

## Description / Observed Behavior

When using suspense and an error is thrown during rendering, React complains as it should:

[code]

However, the actual error is missing since it's "swallowed" by SWR.

## Expected Behavior

The error should not be swallowed.

## Additional Context

I added a manual log to reactjs to capture the stack trace. I see the following:

[code]

The actual

[2020-09-10 23:27] blujedis commented on #566
Confirmed, so I'm not crazy....ya'll have me debugging like a mad man, this does seem like an issue with the key.

In my case an auth strategy that I am using seems to exacerbate the issue. This is because it calls server on render of component verifying roles before rendering the inner or content component.

Initially that it was the culprit but after inspection and some debugging it is in fact S

[2020-09-13 19:30] ChrisLincoln commented on #637
I had useSWR returning "false" in data, plus it was just not performing its function in life. Turns out I had bad usage of a mutate() call in a websocket event.

I had
[code]

I actually wanted mutate('somekey', undefined, true), but that isn't relevant.

[2020-09-14 00:42] Javo-blip commented on #637
Just using
[code]
should be intended usage according to documentation though?

This error has only occurred after upgrading to v0.3 and when useSWRInfinite was being used

[2020-09-15 17:32] #632 closed

[2020-09-16 16:32] #549 closed

[2020-09-19 17:27] ConsoleTVs commented on #161
@sergiodxa

I am using a similar idea on my SWR vue library. In fact, i find this statement wrong:

I've written some applications where the cache TTL is about 1 minute. So, if I visit the dashboard and it fetches some data with a TTL 1 min, then logout and login with another user (with less than a minute apart) then that cache still shows the old user values and does not revalidate yet due TTL <

[2020-09-19 17:44] matigda commented on #403
Ok, if someone is still interested in this - here is working example with react-query. It's basically about optimistic update but without knowing all required params up front. I really don't know how to do it properly in useSWR:

`import React, {useContext} from "react";
import { useQuery, useMutation, useQueryCache } from 'react-query'
import Cookies from 'js-cookie'

const CartContext = React.cr

[2020-09-19 18:36] sergiodxa commented on #161
@ConsoleTVs what i usually do is to reload the page in a logout so cache is cleared, also most users don't login, see data, logout and see new data in less than 1 minutes IMO.

However, with the current cache you can do it with cache.clear() if you don't reload on logout.

[2020-09-19 18:41] sergiodxa commented on #403
You can totally do the same with SWR, set your key as cart and then in your fetcher (which could be unique per key) you can read your cart id from the cookie.

Then, in your `mutate` calls you can call it with cart as key and you can pass a function as second argument, this function will receive the current cached data for the key cart, whatever you return will be the new value, and you can even u

[2020-09-20 00:16] ConsoleTVs commented on #161
Just keep in mind, that the (mobile) application we're building probably have a safe cache of Infinity, since we know exactly when we need to reload / mutate it via events, 1 min was just for testing :)

Nevertheless, is it possible with cache.clear() on react's SWR? How do you access the cache instance then?

[2020-09-20 01:10] sergiodxa commented on #161
You can import the cache and clear it with:
[code]
This has been available since #231 was merged

[2020-09-20 10:13] ConsoleTVs commented on #161
Is this actually documented on the docs page? Very interesting indeed

[2020-09-20 10:50] sergiodxa commented on #161
It's not documented yet

[2020-09-20 16:44] shuding commented on #86
I like your take @JulianG and this is also my opinion about why I personally don't want cache APIs to be documented for now. Because ideally they should be covered by some other high level APIs or plugins. It's dangerous for end users to touch the cache.

(I'd close this PR, it's kinda unrelated to the topic)

[2020-09-20 16:44] #86 closed

[2020-09-20 16:49] #551 closed

[2020-09-20 16:49] #618 closed

[2020-09-20 17:01] #541 closed

[2020-09-20 17:32] shuding commented on #527
This is the expected behavior of SWR, the stale data is rendered, and an updated and random new date returned (which replaced the existing one).

I believe that if you don't use the mock up API, the dates will be consistent and it will be fine.

[2020-09-20 17:32] #527 closed

[2020-09-20 17:34] shuding commented on #517
Fixed in #524.

[2020-09-20 17:34] #517 closed

[2020-09-20 17:36] shuding commented on #637
Can you provide a reproduction?

[2020-09-20 17:51] #479 closed

[2020-09-20 17:52] #395 closed

[2020-09-20 17:58] shuding commented on #107
This issue should be gone (since with the new API you will be able to control the "load more" behavior by yourself).

[2020-09-20 17:58] #107 closed

[2020-09-21 02:16] huozhi commented on #630
@gaoxiaoliangz you can use the following code to access the iterative value pairs in the swr cache, then you can sync/serialize it to local storage as a workaround

[code]

but since the cache APIs are not documented officially, it means cache calls might have breaking changes in the future when you upgrade swr to higher version.

[2020-09-21 18:44] kristojorg opened #657 "Error cleared on next render"
# Bug report

## Description / Observed Behavior

SWR is clearing the error data from cache on render even when the key is `null`, which should signal SWR not to try and fetch at all. When a user signs in to my app, I save their token to a cookie (and to react state) and the presence of the token tells SWR to perform a fetch. When this comes back with a server error, I need to display that error t

[2020-09-22 16:00] pmourer commented on #586
While I can't speak for the example as I haven't reviewed it closely, i was having a similar issue but it turned out to be that the mutation data i provided did not in fact exactly match the data expected. Example:

[code]

[code]

The first example will cause a gap in the properties that I was checking for, triggering loading. however the second example should not (barring any typos...)

[2020-09-23 20:22] EliasSchlatter opened #662 "mutate is not rerendering"
# Bug report

## Description / Observed Behavior

I'm using mutate() to update data. Here is a little snip of what I do:

[code]

this way it is working and  the data of my nextjs app is updated properly, but its pretty ugly since there are two re-renders triggered.

Here is what I want to do:

[code]

or better would be

`
mutate(doRequest("someUrl", "PUT", someData), false);
`

This way data is

[2020-09-23 21:08] sergiodxa commented on #662
Could it be that the data is the same? To avoid unnecessary request SWR compares the values deep equally and if they are the same it will not render again

[2020-09-24 07:50] EliasSchlatter commented on #662
No, the dates are similar, but not the same. At the point where the error occurred, it is about an object that has a list. All other values next to the list are the same, but the list has one element more or less.

{
   _id: '',
   name: ''
   value: '',
   someOtherValue: '',
   children: []                          <- the length of this list is different
}

[2020-09-24 16:56] troyacodes commented on #662
Having the same issue here

[2020-09-24 17:03] sergiodxa commented on #662
Could you provide a CodeSandbox to replicate it?

[2020-09-25 09:55] nobodywithbody opened #664 "setSize in useSWRInfinite is not memoizing"
# Bug report

## Description / Observed Behavior

I'm trying to automate fetching all pages. So, I'm using `setSize` in `useEffect` hook. When previous data contain a link for the next portion data I increment `size`. But every time when my own hook is being recalculated `useSWRInfinite` returns me different `useSize`.

## Expected Behavior

I expected `setSize` which returning from `useSWRInfinit

[2020-09-25 16:02] AlaaZorkane commented on #161
Ha! Been looking for this, can someone please document this, very important feature.

[2020-09-25 17:36] shuding commented on #664
Thanks for reporting! The issue should be fixed in #665.

[2020-09-25 18:02] #664 closed

[2020-09-27 17:21] vulle5 opened #666 "Using preload link tag sometimes duplicates the request"
# Bug report

## Description / Observed Behavior

When I navigate from my login page to the show all notes page after successful login SWR duplicates the request to get the notes made by the preload link tag. Normally this would not be a big deal, but when I try to add a new note by using mutate the revalidation fails because the headers of the request did not match. If I reload the page everythin

[2020-09-28 10:30] kazukinagata opened #667 "Mutate by callback will cause IME composition bug"
# Bug report

## Description / Observed Behavior
I'm using mutate() with passing synchronous callback like below.
Inputing English is fine, but if I input Japanese IME, `e.target.value` get a bunch of duplicate characters.

[code]
## Expected Behavior

When I input 'n' first, then 'a', the title will expected to be 'な' (Japanese).
However actual result is unstable, it may be like 'なな', 'nな', 'な' e

[2020-09-28 14:39] sergiodxa commented on #667
I recommend you to use keep a local copy of the state for the input in your component and use mutate when you want to actually save it. Remember SWR could revalidate your key in different scenarios, using it directly as the value of your input could cause an unexpected rollback if SWR revalidate the data.

[2020-09-29 01:49] kazukinagata commented on #667
@sergiodxa Thank you for your comment. I read some blog posts like this https://paco.sh/blog/shared-hook-state-with-swr that shows how to share state using useSWR instead of useState.

I was happy that useSWR is an totally alternative to useState or redux, but isn't it recommended to use useSWR as an alternative to them?

[2020-10-01 02:43] kazukinagata commented on #667
@sergiodxa As a result of research, I'm gonna try to managing local state by formik. Thank you!

[2020-10-01 02:44] #667 closed

[2020-10-01 12:47] nicolasschabram commented on #86
I ended up with this by the way:

[code]

[2020-10-02 22:53] mariopeixoto commented on #454
Just wanted to put some thought on this matter out in the open...

I see the same behavior and I struggle to understand why useSWR triggers revalidation in suspense mode.
Whenever using suspense mode the component renders 4 times:

**1st render-** throw to suspense while making request
**2nd render-** request is completed and data is returned (isValidating: false)
**3rd render-** revalidation is t

[2020-10-06 09:20] akx commented on #242
It should probably be both – an event bus you can register/unregister listeners with, and a hook that does that for you and causes effects.

[2020-10-06 19:22] jurajkrivda opened #677 "Typescript bug?"
Hello. I'm not sure about this behavior and I'm not a typescript expert, but look at this:

[code]

console.log of data is `PostComment[][] | undefined`.

Why `PostComment[][]` and not only `PostComment[]`

Thank you

[2020-10-06 20:24] sergiodxa commented on #677
Because the data is paginated. Data is an array of each page, and because a page is an array it becomes an array of arrays.

[2020-10-07 11:22] pke commented on #417
Any of you @outaTiME @huozhi working on a PR for that?

[2020-10-07 13:43] Develliot commented on #523
Would that still work if the key doesn't exist in the cache yet?

[2020-10-07 14:41] sergiodxa commented on #523
@Develliot yes, if it's not in cache it will create it

[2020-10-08 04:36] huozhi commented on #417
there's a [RFC](https://github.com/vercel/swr/issues/172) to support plugin/middleware pattern in swr to make it more cross-platform adaptive. the APIs are not settled yet and discussions are welcomed. once we had a good form of APIs and certain bahaviors of plugin/middleware, we'll surly start the support for RN ASAP

[2020-10-08 13:51] shuding commented on #677
Indeed, this is intended like @sergiodxa said. Close this issue for now.

[2020-10-08 13:51] #677 closed

[2020-10-09 06:26] nobodywithbody opened #682 "Race condition with double successive calls mutate"
# Bug report

## Description / Observed Behavior

Race condition when mutating consistently single `useSWR` hook

## Expected Behavior

When I call mutate with callback I expect the first argument in the callback is the equal previous state after first mutating.

And I expected when I set `initialData` to some value then it passes to the first argument in mutating callback, but it's set undefined.

[2020-10-09 10:10] danielrbradley commented on #284
Here's a fully Typescript version of what @isaac-scarrott wrote for a workaround:

[code]

I also agree with @nfantone that this needs addressing as it seems like it's going to continue causing significant issues going forward. I think we're needing agreement from the maintainers on what the expected behaviour so we can start working on a fix.

[2020-10-09 14:31] nfantone commented on #284
I can't believe this **bit me again today**. A customer raised an issue explaining that they "weren't seeing the new email entry in their table after creating it". And, lo and behold, it was from an older project where the workaround proposed here for `initialData` was not in place.

At this point, I believe his really needs to be addressed. I'm open to putting together myself a PR to integrate th

[2020-10-12 06:30] charshin opened #687 "Mismatched number of arguments for updateInterface"
# Bug report
This is not a bug per se, but better fix.
## Description / Observed Behavior
There is a mismatched number of arguments for updateInterface.
What kind of issues did you encounter with SWR?
None
## Expected Behavior
Update `updateInterface` to reflect 5 arguments correctly
How did you expect SWR to behave here?

## Repro Steps / Code Example
![image](https://user-images.githubuserconten

[2020-10-12 15:59] huozhi commented on #657
@kristojorg when you call `setToken` in `onError`, the key is reset to `undefined` then the swr retrieve the error of key `undefined`. so that's why the error is not kept.

[2020-10-12 17:56] #687 closed

[2020-10-12 18:17] kristojorg commented on #657
I see, the conditional fetching cannot be used to keep the old value around. Is there a suggested solution to this? Should I be saving the error to local state instead? This seems like it's working around the API of swr, but I don't really see a better solution. I don't actually think it would be wise for swr to return data for an old key when the key changes to `null`.

Thanks for your considerat

[2020-10-13 05:47] jarrodldavis commented on #657
I'm running into a similar issue where the `error` data is cleared when revalidating. I'm using a static key (corresponding to the path of the request), and I'm seeing the same behavior as @kristojorg.

I've created a reproduction of the problem [here](https://github.com/jarrodldavis/swr-error-issue-repro/blob/main/pages/hello.js), and it's deployed [here](https://swr-error-issue-repro.jarrodldavi

[2020-10-13 13:27] Migggz commented on #503
Fixed by configuring Global SWR
[code]
then
[code]

[2020-10-13 13:27] #503 closed, assigned to nobody

[2020-10-15 17:35] rainforss commented on #662
Yea I am having the same issue where mutate does not trigger a rerender when the object is nested. I thought mutate was gonna do a deep compare.

[2020-10-16 07:45] jacobedawson commented on #284
For googlers who are puzzled when they have set initialData hoping for SWR to push fresh data when necessary (while also possibly fetching initialData in getServerSideProps), I found that setting revalidateOnMount: true (as suggested by @Romstar ) solved the issue of updating a page with e.g. a new item. It's worth a try if that's your issue, before going on to some of the more complex solutions s

[2020-10-16 09:20] nikhilag commented on #597
What's the reason for not fetching data if it doesn't exist in cache when we set `revalidateOnMount: false`?

[2020-10-16 10:57] markstreich commented on #657
I'm having the same issue as @jarrodldavis, which is perhaps separate from @kristojorg's report because it seems to have started only in 0.3.3

It can also be seen / recreated in the docs for Error Handling:

https://swr.vercel.app/examples/error-handling

The docs example uses 0.3.1, and the error message stays visible while loading

Changing to 0.3.2, the error message is also visible while load

[2020-10-16 11:57] oran1248 commented on #308
@aj-may
When this issue will be fixed? It is very critical to me..

[2020-10-16 21:34] lucaspdfborges opened #697 "Variable data cannot be renamed"
When renaming the `data` variable such as:

`let { data2 , error } =  useSWR(url,  fetcher)`

the request is correctly made to the backend server, however, `data2` is not updated throughout the code.

[2020-10-16 22:03] sergiodxa commented on #697
To rename the destructores variable you need to do:
[code]
Doing `{ data2 }` directly will try to get a `data2` key from useSWR returned value instead of renaming `data` to `data2`.

[2020-10-17 04:49] huozhi commented on #657
I found these changes here: https://github.com/vercel/swr/pull/569/files#diff-755ef1ecc6f2f4c1cc601c6091dfcba5f674c653863b70913a115c0856a7b632R339-R343

when a hook is revalidating the state, it cleans the data / error of that key first (seems to make sense for me because we might want to clean up the states for last round revalidation).

IMO, if you'd like to preseve the error I think creating an

[2020-10-17 21:02] sadi304 opened #698 "Mutate does not return new data in some components"
# Bug report

## Description / Observed Behavior

I made a hook like `useUser`. Now calling it bound mutate does not return new data in some components. Like in Login component it returns the data but in parent component it does not return new data. But api calls are happening.

Though removing `getItem('token')` solves the issue but removing that causes the api calls to always revalidate on focus

[2020-10-18 23:49] nicholaschiang opened #700 "Return retry timeout when request errors"
# Bug report

## Description / Observed Behavior

I want to be able to display a snackbar to the users notifying them of any errors, indicating when the next automatic retry will be, and giving them the option to retry immediately:

[code]

## Expected Behavior

I want SWR to return the time until the next automatic retry (as determined by the exponential backoff algorithm described in [the docs](

[2020-10-19 13:29] #657 closed

[2020-10-19 13:40] huozhi commented on #657
hi all, bump this thread again. we reverted the behavior that let swr keep the error while revalidating. it's published in 0.3.6, plz upgrade to get this issue fixed. thanks

[2020-10-20 12:40] #697 closed

[2020-10-20 15:16] haluvibe commented on #597
[code]

[2020-10-20 15:17] haluvibe commented on #597
[code]

[2020-10-20 15:18] haluvibe commented on #597
[code]

[2020-10-21 00:03] ryanlanciaux commented on #27
@jantimon I know it's only a year after you asked this BUT I use MirageJS when I need to mock something in Storybook.

Thread on how to achieve this here: https://twitter.com/ryanlanciaux/status/1288897760473882625

[2020-10-21 16:09] pke commented on #166
The docs still say one should not use objects as keys.
https://swr.vercel.app/docs/arguments#passing-objects

So whats with that now? I also see several tests that use object keys now.

[2020-10-21 17:29] nandorojo commented on #166
I did something similar with [`swr-firestore`](https://github.com/nandorojo/swr-firestore) when creating a Firestore collection query from an object [here](https://github.com/nandorojo/swr-firestore/blob/master/src/hooks/use-swr-collection.ts#L417).

[2020-10-21 19:39] nandorojo opened #707 "Export KeyLoader and keyType typescript types"
First off, thanks so much for this library. It's the best.

# Bug report

I'd like to use `KeyLoader` (from `./use-swr-infinite`) and `keyType` (from `./types`)

## Description / Observed Behavior

There are some types that aren't exposed.

## Expected Behavior

[code]

I'd like these types to be exported so that I can wrap `useSWRInfinite` with a custom function. This is the case with `SWRInfinit

[2020-10-26 01:23] crossjs commented on #7
useSWR share states between multiple calls in same  **next.js** page.
but, useSWR does **NOT** share states between multiple **next.js** pages,

[2020-10-26 07:42] vishnuvchandar opened #717 "Axios fetcher(METHOD POST) + NextJs SSR = Infinite Endless API calls"
# Using Method POST in Axios fetcher results in Endless API calls

## Description / Observed Behavior
### Using Method POST in Axios fetcher results in Endless API calls.
When using fetcher like
[code]
Endless **API calls**. Infinite calling

But this happens only in SSR. And works fine with client Side rending.

## Expected Behavior
Make only one API call during the server side rendering

## Repr

[2020-10-26 10:06] promer94 commented on #717
[code]
Could you try this ?
[code]

It would be great if you can provide [codesandbox](https://codesandbox.io/s/compassionate-voice-f6gro) example

[2020-10-26 14:26] emilioastarita commented on #698
In our case upgrading to 0.3.6 fixed the problem

[2020-10-26 18:08] vishnuvchandar commented on #717
Tried changing that.
Anyways, that doesn't seem to be a problem. because it worked fine with client side rendering.
Anyways have reproduced the same in your sandbox.
You can see multiple calls going to endpoint `/day`
Here is the link. I have shared to your Id as well.
https://codesandbox.io/s/nice-wave-wy3ib?file=/pages/index.js

![apiCall](https://user-images.githubusercontent.com/47468658/97210

[2020-10-26 18:35] sadi304 commented on #698
Yes. 0.3.6 fixed this.

[2020-10-26 18:35] #698 closed

[2020-10-27 02:54] huozhi commented on #717
@vishnuvchandar I tried on your codesanbod example, the issue is when you pass an object to useSWR as first argument within next.js, each time the hashed key will be different

![image](https://user-images.githubusercontent.com/4800338/97251075-2ace3f80-1842-11eb-96b0-f05650ea60e8.png)

the weakmap in hash lib looks like following
![image](https://user-images.githubusercontent.com/4800338/97251285

[2020-10-27 03:25] promer94 commented on #717
[code]
https://swr.vercel.app/docs/arguments#passing-objects

Hope this will help

[2020-10-27 09:17] vishnuvchandar commented on #717
This doesnt solve my purpose. The criteria cannot be a default value. Its susceptible to change.
I want that to be a dynamically changing object based on the action i perform on the parent component.
Say i need to change a date range or something. On every state change of Criteria object, it has to make a call to my API with the updated values.
How should i do that with this apporoach??

How am i

[2020-10-27 11:43] huozhi commented on #717
is it possible to pick out some primitive values (string, numbers or references of same object) from `criteria` and pass them as key of useSWR hook?

like
[code]

then it's easier for swr to convert the complex key as a consistent id to memorize. otherwise if the key is a different object each render, like a changing react prop, would be difficult to have an algorithm to mark it as consistent key

[2020-10-27 13:16] promer94 commented on #717
You can create a custom hook like this. But you should know deepcompare might cause some ***performance issues***.
[code]

[2020-10-27 14:26] promer94 commented on #700
I think you can use ***onErrorRetry*** to get the retryTimeout
You can copy the function from [source code](https://github.com/vercel/swr/blob/4d6be3df441f925d235a4b26914efcc85ae335a3/src/config.ts#L14-L39)

Then you can get the retryTimeout and retryCount

[code]
it may be more flexible.

[2020-10-27 18:05] vishnuvchandar commented on #717
This shud work. But the only problem is not all the time all objects will be sent! Since its a filter criteria, it keeps building. However, i thought of Stringifying and Parsing it on the api side, which i believe shud work.  Lemme know if its a right approach!.....

[2020-10-27 18:08] vishnuvchandar commented on #717
Wo wo wo! This is way more complicated for what i need. As i mentioned in previous comment lemme know if Stringify Parse is a better way to handle this..

[2020-10-27 18:11] bcomnes opened #724 "React 17 Support"
Opening an issue to track SWRs support for react/react-dom 17.  It appears to work fine, but I didn't spot any motion on updating the peer dep requirements.  Apologies if this ends up being duplicate.

# Bug report

`swr` appears to work great with react 17 but reports a missing peer dep of react 16.

## Description / Observed Behavior

`swr` is throwing a peer dep warning on react 17 for v16, but

[2020-10-28 01:57] huozhi commented on #717
Stringifying surly can work! another way is to call `useMemo` to memorize criteria only when some props of it changed.
for swr side it just wants to have a consistent reference for different `key` argument when the value of `key` arg is really different.

[2020-10-28 02:06] #717 closed

[2020-10-28 12:12] gesposito commented on #284
My current approach

[code]

[2020-10-28 17:39] feross commented on #724
With npm 7, this is actually an error that blocks installation.

[2020-10-29 00:01] brandonpittman commented on #724
Had to pass it `--legacy-peer-deps` (or something like that) to make it work locally.

[2020-10-29 09:08] huozhi opened #728 "[RFC] Subscription mode for SWR"
## Define the Problem

currently `useSWR` and `useSWRInfinite` are more designed for endpoints or data sources that can directly access and patch proactively. The data flow is like below

[code]

But for some cases SWR doesn't have enough solid ability to interact with data sources such as observable data (states returned from an observable stream), subscribable data (data been sent from a remote

[2020-10-29 13:32] kalley opened #731 "requestIdleCallback blocked by browser extensions"
# Bug report

## Description / Observed Behavior

What kind of issues did you encounter with SWR?

Data isn't revalidating when certain browser extensions are installed. One I know for certain is [UI.Vision RPA](https://chrome.google.com/webstore/detail/uivision-rpa/gcbalfbdmfieckjlnblleoemohcganoc). It appears to hold up `requestIdleCallback` from ever being called.

## Expected Behavior

How did

[2020-10-29 14:21] #724 closed

[2020-10-29 14:25] shuding commented on #724
Released `swr@0.3.7` with the patch from @bcomnes 🎉

[2020-10-29 17:55] shuding commented on #728
Thank you for writing this amazing RFC!

This doesn't solve the data problem right? Like how do I notify SWR that I got the data (or error).

I think we can probably also return a `connecting` or `loading` value, which indicates the initial connection state (before the first value arrives).

I'm :+1: on doing it.

[2020-10-30 02:45] huozhi commented on #728
Thanks for the quick feedback, I updated the draft, providing some callbacks as second args

[code]

I guess it could be `isConnected` or `isSubscribed`? since you can know ws connection is connecting/open/closing/closed, but for other observable stream, we might not know the short connecting/pending state before the connection is established. just my current opinion, and open to discussion : )

[2020-10-30 07:07] huozhi commented on #417
short-term workaround on RN, with swr@0.3.7 you can use the following new options to customized the `online`, `visible` states by yourself

* `config.isOnline`
* `config.isDocumentVisible`

[code]

the network connecting state is not customized since getting network info might need 3rd party library support and you can also customize `errorRetryInterval` and `loadingTimeout` in config to override

[2020-10-30 07:09] huozhi commented on #69
@morrys does this solution work for you? https://github.com/vercel/swr/issues/417#issuecomment-719326683

[2020-10-30 08:10] pke commented on #417
So I assume with 0.3.7 this could also be used in global config?

[2020-10-30 14:10] shuding commented on #566
Hi @ranisalt I'd love to know if #735 fixes the issue you had.

[2020-10-30 14:14] morrys commented on #69
Hi @huozhi, that is a solution to allow you to configure your own isOnline definition.

What I proposed was the native integration of my library and standardize the management of network information between web and react-native.

If it is not something you are interested in you can proceed to close the issue

[2020-10-30 15:09] huozhi commented on #417
seems it's more complicated, the latest changes are not enough : (. we need to give swr ability to customize the way to listen on focus/visible/connect events. need more changes on that. will bump here later once we have more support on it.

[2020-10-30 15:43] shuding commented on #728
@huozhi or a general `status` value (which can be `any`) that can be passed? Since some subscriptions have multiple states (e.g.: there're 4 states of WS: https://developer.mozilla.org/en-US/docs/Web/API/WebSocket/readyState).

Regards `callbacks`, I think we might need to adjust the argument order since we can have multiple arguments. How about:

[code]

Hmmm I think we still need to find somethi

[2020-10-31 05:53] shuding commented on #172
Thank you for sharing your use case here @matamatanot, it’s very helpful!

I think instead of using a middleware, we can think about adding a new option `serialize`:

`useSWR([url, opts], fetcher, { serialize: true })`

[2020-10-31 07:47] promer94 opened #738 "concerns about passing null as fetcher"
## Background
 [@pacocoursey 's idea for SWR as a local cache](https://paco.sh/blog/shared-hook-state-with-swr) is great.
[code]
But after #367 this won't work anymore because window.fetch will be used when fn is undefined
https://github.com/vercel/swr/blob/10e18cc9e6e607309db1aee81ac22b58690a76c3/src/use-swr.ts#L245-L248

However passing null as fetcher will work since we ***only replace the fetc

[2020-10-31 09:30] matamatanot commented on #172
@shuding Thanks! A new option `serialize` seem to be very useful. I would love to see the option added to the library.

But, I think there is a better way.
[firebase.User](https://firebase.google.com/docs/reference/js/firebase.User) is large object. Serializing a `firebase.User` object go too far. For many people, what we want to achieve is that if a user logs out or switches to another account, t

[2020-10-31 09:37] shuding commented on #731
That's super interesting, even React itself used to have the native `requestIdleCallback` (with a better considered [polyfill](https://github.com/facebook/react/pull/8833)).

Although that's an issue of those wrongly implemented extensions, not SWR. We will consider using `requestAnimationFrame` instead (also doesn't block rendering).

[2020-10-31 14:43] huozhi commented on #728
yup, the basic event target like stuff and [bservable](https://github.com/tc39/proposal-observable) sounds like 2 scenarios, the first one is more simple.

### Event Target Like Subscriptions

[code]

### Observable

[code]
and obserable also has some interesting standard from community like [callbag](https://github.com/callbag/callbag)

------

so in that case, I feel we should either find a unit

[2020-10-31 14:57] huozhi commented on #256
@duniul can you try to bump swr to latest (0.3.x). the issue seems to be resolved now

[2020-10-31 14:57] huozhi commented on #199
@Svish can you try to bump swr to latest (0.3.x) to confirm if the issue is resolved on your side now? thanks

[2020-10-31 15:41] huozhi commented on #199
@Svish does this work out your issue?

[code]

only display the "Validating" text when there's no data fallback from cache and meanwhile swr is doing the revalidation. when you backspace, swr will do soft revalidate to refetch the state for that key so the `isValidating` is set to `true` again.

[2020-10-31 15:54] Svish commented on #199
@huozhi Potential workaround, perhaps, but not able to check right now. Either way, I believe this seems to me to be a bug that should be fixed, rather than worked around.

Still on version 0.2.2 because of this, and haven't really bothered trying to upgrade until this is confirmed fixed. Also on a different project at the moment, so can't check right now, unfortunately.

[2020-10-31 16:04] huozhi opened #742 "[RFC] Configurable Cache"
##  Background

Currently swr cache (0.4.x by the time) is a kind of hidden functionality, which exposed one experimental `cache` but not really fully documented with guaranteed. swr will leverage cache to store the states of keys, and `mutate` API can also manipulate states and cache at the same time.

We received few issues/Q&A about how to manipulate the cache directly and make its value aligne

[2020-10-31 16:15] huozhi commented on #199
For a key that has state been resolved before, swr will try to refetch the latest state to make sure it's matching the result fetcher gets from remote. I would say it's not really a bug behavior.

I feel your scenario is more like: I want the fetcher do nothing if the state is resolved once?
so the solution could be either **(1)** check if the data is resolved already in fetcher, and decide whethe

[2020-10-31 17:41] #256 closed

[2020-10-31 17:47] shuding commented on #172
I see @matamatanot! While `serialize` is helpful, what we can do is to provide another option `disable`, which is an alternative to `useSWR(null, fetcher)` like what you are doing.

[2020-10-31 17:50] Svish commented on #199
Not sure I follow you, but either way, the issue here was never what swr was doing with revalidating or refetching or using cached values or whatever. It is that `isValidating` in a certain scenario gets stuck on `true`, even though there actually is no validation happening anywhere.

That's an issue, because one of the main points of the `isValidating` flag (in my opinion) is to be able to show a

[2020-11-01 10:31] Kerumen opened #743 "v0.3.8-beta.2 published as latest"
I don't know if this was intended but the version `0.3.8-beta.2` was released as latest on [npm](https://www.npmjs.com/package/swr).

<img width="761" alt="Screenshot 2020-11-01 at 11 29 08" src="https://user-images.githubusercontent.com/5436545/97800438-7a8f7b00-1c35-11eb-9598-c11b2162eec2.png">

[2020-11-01 10:38] shuding commented on #743
Thanks for reporting! I just release `0.3.8` as the latest stable version to override this beta, and sorry for inconvenience!

[2020-11-01 10:38] #743 closed

[2020-11-01 20:57] kalley commented on #731
@shuding I agree with you on that. I did, locally, change it to be `rIC(softRevalidate, { timeout: 100 })` and it did work as intended. This was in Chrome, so I don't know how other browsers work on that front. And according to MDN's docs:

[2020-11-02 03:42] #731 closed

[2020-11-02 03:50] shuding commented on #666
Yeah `<link rel="preload">` requires the request header to be an exact match. You can try "Copy as fetch" for both requests to see what's the mismatched header:

![image](https://user-images.githubusercontent.com/3676859/97828243-7cbf0b80-1d01-11eb-82e0-2c755db58423.png)

[2020-11-04 00:03] nandorojo commented on #417
FWIW, I made `useSWRReactNavigation`. I just wrote it and haven't tested it in my app yet. Once I test it out I can publish it to NPM.

## Usage

[code]

You can also pass options to it:

[code]

## Code

[code]

I'd appreciate help testing it. It listens for **1)** network reconnections, **2)** app state focus, **3)** react navigation focus.

You could also take out the react navigation portion o

[2020-11-04 13:59] BenoitAverty commented on #588
I'm not sure that this is a bug.

One possible intention with the initialData option is to provide the data of the first page.

When you scroll, useSwrInfinite tries to revalidate the first page, and it replaces the initial data with the content of the first page (it assumes that the first page has changed)

I'm not sure this is intended or not, it would be great if a maintainer could tell us the

[2020-11-04 14:28] valse commented on #588
On the previous 0.2.3 release it works as expected; in [a SSR or SSG scenario](https://github.com/vercel/swr#ssr-with-nextjs) the initial data I think that it was came from the server and the next pages will be the other one.

[2020-11-05 15:20] nimabrownlee opened #746 "Global mutate doesn't work"
# Bug report

## Description / Observed Behavior

I want to revalidate the data/send a new request using the global mutate function.

## Expected Behavior

To send a new request.

## Repro Steps / Code Example

I'll just post a code snippet as I am not doing anything fancy.

[code]

and then when I use the global mutate function

`mutate('/api/tasks')`

Now I am not adding the query and I assume t

[2020-11-05 16:17] #566 closed

[2020-11-05 17:48] ranisalt commented on #566
@shuding I can't test it, I haven't had this issue anymore even before the merge.

[2020-11-05 17:53] shuding commented on #566
@ranisalt No worries! Let me know if you see it again. 👍  Also thanks for reporting!

[2020-11-05 19:16] crshumate commented on #127
Here is the page @tannerlinsley mentioned.

Comparison: [React Query, SWR, and Apollo Client](https://react-query.tanstack.com/docs/comparison)

[2020-11-06 06:26] promer94 commented on #746
if you have two hooks mounted
[code]
call ```mutate('/api/tasks')``` will only revalidate the first hooks

For more informations, you could check the [mutation section](https://swr.vercel.app/docs/mutation) in [docs](https://swr.vercel.app)

[2020-11-06 13:50] nimabrownlee commented on #746
@promer94 Then isn't the global mutate pretty useless? Obviously I can't make `contactId` accessible everywhere. I think there be a change in the specs so that it ignores queries.

[2020-11-06 17:10] #746 closed

[2020-11-06 17:32] muqg opened #751 "Stale data when mutating key with no registered updaters"
# Bug report

## Description / Observed Behavior

I have a list of items and a page for each item like so:
[code]

While the `<Item />` component is rendered, the `<ItemList />` component is not redered and vice versa. The `<Item />` component has fields allowing users to modify it and these changes should be reflected in the list. Therefore the update function looks something like this:

[code]

[2020-11-08 14:48] promer94 commented on #751
you can do
[code]

[2020-11-08 17:48] muqg commented on #751
Sure, that would work. But then again, what kind of signal does a `mutate()` send in this case?

1. If I have a mounted component with `useSWR(URL_TO_ITEM_LIST)` a request will be sent to revalidate the cache.
2. If there are no mounted components, no request will be sent and the cache would remain stale regardless of my desire to revalidate.

It seems that calling `mutate()` sometimes revalidates

[2020-11-08 18:57] frederikhors opened #756 "For Svelte too?"
It would be amazing to have a Svelte implementation too.

Do you know if anyone is working on it?

[2020-11-10 15:44] shuding commented on #756
Nope as far as I know. It would be great if someone is working on it though!

[2020-11-10 15:44] #756 closed

[2020-11-11 06:13] AlexanderKaran commented on #359
We recently started integrating SWR into our projects and hit this same issue with Typescript. We have gone with this approach, would this be a valid approach?

[code]

The docs say Typescript ready, but some example of using the framework with Typescript would help that make that more truthy. Would be more than happy to help write them if you think there is a need

[2020-11-11 12:00] nimabrownlee opened #761 "Feature request: Please add partial matching for mutation keys"
# Feature request

## Description / Observed Behavior

My previous issue was completely removed for some strange reason (not even closed) so I am opening a new one. Right now if you want to use the global mutate function you have to provide a complete match with the key. It's very weird and even react-query supports partial matching. Please add it as its very crucial. I cant replicate every key in

[2020-11-11 13:38] vasco3 opened #762 "NextJS usage docs sample code says Props but I think it was meant to be Posts"
# Bug report

## Description / Observed Behavior

In the [nextjs usage example](https://swr.vercel.app/docs/with-nextjs) I see the sample code
[code]

## Expected Behavior

I wonder if it was meant to be `function Posts(props) {`

[2020-11-11 14:25] #762 closed

[2020-11-12 17:26] paulhayessilex opened #766 "SWR not working with @testing-library/react-hooks"
# Bug report

## Description / Observed Behavior

[code]

both the before and after awaitForNextUpdate() console logs return the exact same object

[code]
I would expect the data to be defined after the awaitForNextUpdate(), why hasn't it resolved?

[2020-11-13 13:07] matamatanot opened #773 "[tsc] Cannot find name 'Deno'."
# Bug report

## Description / Observed Behavior

`src/use-swr.ts:30:13 - error TS2304: Cannot find name 'Deno'.`

## Expected Behavior
Error not found.

## Repro Steps / Code Example

Or share your code snippet or a [CodeSandbox](https://codesandbox.io) link is also appreciated!

## Additional Context
Fork master branch and `yarn run types:check`

[2020-11-13 18:12] RickvdStaaij commented on #11
Workaround to cache the server-side initial data on the client side (as long as SWR doens't support it natively): https://www.npmjs.com/package/use-fetch-cache

[2020-11-13 18:13] RickvdStaaij commented on #237
Workaround to cache the server-side initial data on the client side (as long as SWR doens't support it natively): https://www.npmjs.com/package/use-fetch-cache

[2020-11-13 20:42] gcor commented on #597
There is the [deduplication option](https://swr.vercel.app/advanced/performance#deduplication) that helps to prevents unnecessary requests.

[2020-11-13 22:12] hems commented on #11
that's cool but i feel it should be a feature of useSWR? perhaps you could do a PR / open an issue regarding this?

I believe this issue only discuss the idea of using useSWR on the server-side instead of using a regular `fetch` method?

[2020-11-13 22:20] eddiew opened #774 "useSWRInfinite leaks { originalData: undefined, force: false } objects from cache when setSize is called with null first page key"
# Bug report

## Description / Observed Behavior

useSWRInfinite returns data as { originalData: undefined, force: false } when setSize is called with null first page key.

## Expected Behavior

data is undefined when first key is null, regardless of calls to setSize

## Repro Steps / Code Example

WIth null first page key, call setSize.

## Additional Context

SWR version 0.3.8

We have page keys

[2020-11-13 22:22] derindutz commented on #774
I think I found the bug. If `firstPageKey` is null [here](https://github.com/vercel/swr/blob/52a06bc8ba980e03d03b5d2366b5551bcf44c41e/src/use-swr-infinite.ts#L97), contextCacheKey stays as null. Then on [this line](https://github.com/vercel/swr/blob/52a06bc8ba980e03d03b5d2366b5551bcf44c41e/src/use-swr-infinite.ts#L194), the cache gets set with key null – serialized to `''` – and value `{ force: tr

[2020-11-15 10:39] markprins commented on #761
I have a similar situation. I'm using multiple SWRInfinites for page handling and in various configurations which hold different datasets. When certain data is updated, some of these should revalidate their data.

It would be nice to revalidate/invalidate partial keys like `mutate('/toplevel/nested/*')`.

[2020-11-15 15:22] #773 closed

[2020-11-16 20:49] Jakst commented on #494
@huozhi https://codesandbox.io/s/frosty-lamarr-xzmq6 the error is still present in 0.3.8. Would you consider reopening?

[2020-11-17 08:43] #494 closed

[2020-11-17 10:45] #199 closed

[2020-11-18 15:28] shuding opened #780 "Spread operator used in useSWRInfinite"
# Bug report

## Description / Observed Behavior

What kind of issues did you encounter with SWR?

https://github.com/vercel/swr/blob/b7052656c5c151e9c805c6074fe8f7aaa212cb29/src/use-swr-infinite.ts#L219

Using the spread operator here will trigger all the getters of the returned `swr` object, which causes unnecessary re-renders. A better way to do it is using `Object.assign`.

## Expected Behavio

[2020-11-18 15:57] shuding commented on #682
This issue was fixed in #735, please upgrade to the latest version (`0.3.9`).

Also there's a small issue in the sandbox which is `old.filter((el) => el === id)`, I believe it should be `!==`. Let me know if you have other question!

[2020-11-18 15:57] #682 closed

[2020-11-18 16:01] shuding commented on #662
@troyacodes @EliasSchlatter could you provide a reproduction, like a CodeSandbox link? It looks like there's an object reference related issue.

I'd be happy to reopen this issue if anyone can help provide a reproduction. It just works fine for me personally.

[2020-11-18 16:01] #662 closed

[2020-11-18 16:38] frdwhite24 opened #781 "SWR cache persistent across tests even with cache clearing and deduping interval at 0"
# Bug report

## Description / Observed Behavior

I have found that some sort of SWR cache(?) persists between tests regardless of clearing the cache and setting the deduping interval to 0. The results are unpredictable and vary each time I run the tests.

## Expected Behavior

With cache clearing and deduping interval set to 0, I expected the components using SWR to return the correct data from t

[2020-11-19 00:32] Sokal21 commented on #309
I encounter the same issue with the new useSWRInfinite. If you provide initialData the when the other pages are fetched the data does not get updated.

[2020-11-19 01:56] huozhi commented on #494
@huw @Jakst 0.3.9 should fix this issue. could you bump version to try again? thanks!

[2020-11-19 07:25] Jakst commented on #494
Works 👍 Thanks!

[2020-11-19 09:46] huozhi commented on #728
just found [use-subscription](https://www.npmjs.com/package/use-subscription)'s API design for subscription case, to distinguish from observable case

[2020-11-19 16:04] sergiodxa commented on #728
Just come to mention that my PR (#457) come from a different use-case than the idea of the RFC.

The `useSWRObservable` hook is to get data from an observable source without when you don't have a non-observable source. This is useful when your source of data is only WebSockets or something real-time so you can't use a fetcher, it makes total sense here.

My proposal to add a `subscribe` in the con

[2020-11-20 19:22] cwbuecheler commented on #662
@sergiodxa @shuding I don't think I can provide a code sandbox because the problem I'm running into seems to involve my .env file, and because though the variable is labeled `PUBLIC_API_URI` it is not actually a public API. Basically, none of my mutations ever re-render. Here's one piece of the exact code I'm using:

[code]

I've tried even cancelling the actual mutation and using `mutate` to inse

[2020-11-21 01:10] huozhi commented on #662
@cwbuecheler `[`${process.env.NEXT_PUBLIC_API_URI}/device/base/identifier/${id}`, jwt]` is an array key which will be serialized to sth different from the first string url. they key argument need to be consistent between `mutate` and `useSWR` if you want to manipulate it manullay.

[2020-11-21 01:14] huozhi commented on #662
@EliasSchlatter I feel it's the similar issue to #313 . check out https://github.com/vercel/swr/issues/313#issuecomment-638099853, this might help?

[2020-11-22 22:14] cwbuecheler commented on #662
@huozhi - ah, got it. Makes sense that it'd need the entire array rather than just the string. Thanks!

[2020-11-23 08:19] grazianodev opened #785 "First page of results is fetched on every request when using 'useSWRInfinite'"
# Bug report

## Description / Observed Behavior

I have created a simple component that fetches a list of posts via GraphQL requests  (cursor-based) using useSWRInfinite. Apparently everything works fine, i.e. the pages are all fetched correctly, in the correct order, etc. but when inspecting the 'Network' tab I can see that every time I load a new page, the first page is also fetched again. So,

[2020-11-23 12:22] kuasha420 commented on #34
@Jarred-Sumner @mrgiacomini @jbowa

How about this?

[code]

[2020-11-23 12:58] shuding commented on #785
Thanks for reporting! That is the expected behavior and let me explain why it happens (and only happens for the first page).

First all SWR hooks will refetch when you open a new page, even if it's cached. This is the same behavior as traditional data fetching / SSR to keep the data fresh. But with `useSWRInfinite`, we don't want to refetch all pages because it's gonna be a performance disaster. I

[2020-11-23 16:39] grazianodev commented on #785
Thank you for explaining! Then I have two more questions :)

1) Another issue I have is the request to fetch the next page is very often made twice (I didn't mention before because I thought it was all part of the same problem). I didn't touch the default "dedupingInterval" option (2 sec), still the same request with the same key runs twice (in quick succession, so definitely within the 2 sec span

[2020-11-23 16:46] promer94 commented on #602
If there is an error in the cache,
swr will throw the error immediately in suspense mode
and it will not trigger useEffect hooks in the swr.

So swr wont re-validated with errored cache in suspense mode.

You can find a workaroud in #160

[2020-11-24 11:13] te-online commented on #417
@nandorojo Thanks a lot for this useful custom hook! No npm package, yet? 😉
I had to make two changes to make the basics work:

1. The argument passed to `AppState.addEventListener` (and `AppState.removeEventListener`) needs to be `change` instead of `focus`, seems like a typo in your version.

[code]

2. `new Date().getTime()` didn't work as expected for me. It returned seconds. This might be rel

[2020-11-24 13:34] nandorojo commented on #417
@te-online thanks for finding those issues! I should be able to get it on npm soon.

If this is always the case, it seems like we could keep track of a `focusCount` and only trigger it if it's `> 1`.

Or we could dedupe all `mutate` calls. Does SWR do that for you?

[2020-11-24 15:39] grazianodev commented on #785
Thank you for explaining. Can validation be "turned off" though? I understand it's an integral part of the library, but I'm creating a pretty traditional blog that will be updated a few times a day at most, so making sure the data is as fresh as it can is not a concern in my use case. I would rather prefer to avoid the extra requests to validate it.

[2020-11-24 18:14] shuding commented on #785
@grazianodev yeah we've considered adding an option to skip revalidation when the cache exists. But we don't have a strong opinion on it. Personally I think it's okay to add it in future versions.

[2020-11-24 23:09] nico-hyperjump opened #789 "Error from different key is returned"
# Bug report

## Description / Observed Behavior

What kind of issues did you encounter with SWR?

When a request takes long to load, `useSWR` returns the error from the previous request, even though the keys are different.

## Expected Behavior

How did you expect SWR to behave here?

`useSWR` should not return error from a different key.

## Repro Steps / Code Example

1. Use Chrome
2. Install [

[2020-11-25 11:34] shuding commented on #789
Thanks for the detailed repro!

[2020-11-25 15:05] te-online commented on #417
@nandorojo I found an added focusCount to be working fine. Here's a gist https://gist.github.com/te-online/4eaa564aa02546ea25247d2f079f935e

[2020-11-30 01:06] devhyunjae commented on #349
@sergiodxa In my case, this code doesn't work. It doesn't goes to `getDerivedStateFromError`

And just renders errors as usual,

[code]
any clue?

[2020-12-01 20:59] nstepien commented on #781
I've found a workaround:
[code]

This might not work if multiple fetches happen within the same test though, I'm not sure.
I think this might be related to https://github.com/vercel/swr/commit/9e734aaff7d3082fc9fd7945f615fb63621b2bc7, @shuding any ideas?

[2020-12-02 12:29] nstepien commented on #766
Sounds similar to #781, can you try to add `await new Promise(requestAnimationFrame)` before/after `await waitForNextUpdate()`?

[2020-12-02 18:38] nandorojo commented on #34
I've published `@nandorojo/swr-react-native` on npm. It adds compatibility for focus events, reconnection, and react navigation.

Link: https://github.com/nandorojo/swr-react-native

The usage is as simple as:

[code]

You can also use it like this:

[code]

[2020-12-02 18:42] nandorojo commented on #417
I finally got around to publishing this to NPM (`@nandorojo/swr-react-native`)!

The package is a drop-in replacement for SWR, with added support for focus events, reconnection, and react navigation.

Link: https://github.com/nandorojo/swr-react-native

Drop-in usage is as simple as:

[code]

Or, you can use it like this:

[code]

You might want to use this method if you're using `useSWRInfinite`,

[2020-12-04 12:52] daviddossantos commented on #50
hello guys, I did the documentation, putting null return, but still looking for something in the api infinitely, has anyone had this problem?

![image](https://user-images.githubusercontent.com/37313667/101166076-741a6780-3616-11eb-89b5-bea0630a24c8.png)

[2020-12-04 14:00] dburrows commented on #781
Ran into this one again, can that workaround worked for me on a single fetch test which at least is some progress, still I think this needs to have a more substantial fix as it's causing quite a bit of pain.

[2020-12-04 20:30] daviddossantos commented on #50
I did it the same way but my `data` remains` undefined` forever

[2020-12-04 20:37] daviddossantos commented on #50
someone had this problem, can give a light

[2020-12-07 12:05] nimabrownlee commented on #761
Is this in the plans?
I have to unfortunately drop this library and replace it with react-query within two weeks because this feature is not yet available :/.

[2020-12-08 17:08] shuding commented on #349
I think we can close this issue since we now have https://swr.vercel.app/docs/error-handling and https://swr.vercel.app/docs/suspense :+1:

[2020-12-08 17:08] #349 closed

[2020-12-09 12:42] ivan-kleshnin commented on #150
@GuiHash `useMemo` is worthless for the described scenario – this hooks does not do real memoization.
It only compares a new value with an old value so `id = 1`, `id = 2`, `id = 1` sequence will not use "memoized" value.
It will be evaluated 3 times.

[2020-12-10 19:15] max10rogerio commented on #781
worked for me!

ty! I love you!

[2020-12-10 19:27] lerockit commented on #781
Another workaround that I've found:

[code]

[2020-12-11 13:36] sandinmyjoints commented on #27
@jantimon For storybook, we've updated our fetcher implementation to know when it's running in the context of storybook (there a variety of ways you could do this, one is to set an env var when starting storybook then look for it on `process.env`), and when that's the case, rather than run a real fetch, it returns whatever is in `global.storybookData[key]`. Then in our stories for components that

[2020-12-11 15:26] Swearengen opened #803 "Data not resetting after shallow routing"
# Bug report

## Description / Observed Behavior

I am using next.js and have few links with shallow routing. On the first page, I am using SWRInfinite and with load more button I can load next pages.

In case I click on some other page in my app or do the shallow routing and go back to my initial page with SWRInfinite I see that previously loaded results are still present (the results I get after

[2020-12-11 15:36] Swearengen opened #804 "Fetcher not triggered after dependancy array change if initialData is present"
# Bug report

## Description / Observed Behavior

I am using SWRInfinite along with some filtering using query params.  If I click to load more and call setSize everything works but if I try to read query param (?page=2) and react to that param change, the fetcher is not called, even though the page is inside dependency array.
Observed behavior is happening only if initialData option is used

## E

[2020-12-11 20:41] EliasSchlatter commented on #662
Hi everybody,

sorry for my late response on this.

@huozhi thanks for mentioning #313 this post. However, I think there is a different problem here because the object that mutate is called with comes from the backend and should be a object reference in any case.  About the key argument thing, I'm not sure if I understood you right, but I'm using bound mutate so I think this is also not the source

[2020-12-12 11:51] wobsoriano commented on #662
Having problems with `useSWRInfinite` and the bound mutate function. Trying to mutate array of arrays, which does not throw an error and logs the updated data correctly in console, but doesn't rerender the components. Anyone having the same problem?

[2020-12-14 11:15] enzoferey commented on #298
I wonder why this decision was made at an API surface level ? Calling `mutate()` seems to me like a hidden gem that would hard to discover by somebody that doesn't know the library and aliasing the call via `revalidate` is cheap to maintain I believe 🤔

What were your thoughts around it @sergiodxa @shuding ?

[2020-12-14 22:13] underfisk opened #816 "Next build crash with swr"
# Bug report
The compile process is okay but at build time nextjs is throwing errors with ESM export of SWR, not sure what's going on exactly, here is the output of the error

[code]

## Description / Observed Behavior
It only happens at build time, i can run app just fine
What kind of issues did you encounter with SWR?

## Expected Behavior
Build successfully
How did you expect SWR to behave here

[2020-12-15 05:33] huozhi commented on #816
hi @underfisk , from the stacktrace I feel like the esmodule assets of swr is processing by commonjs module loader, but without compiling the syntax to commonjs first.

I guess you might need to process the `node_modules/swr` to commonjs syntaxes (import/export -> require/exports) first?

[2020-12-15 05:36] underfisk commented on #816
@huozhi I'm only using import/export (project is with typescript) therefore require/exports is not being used. Fun fact this was working before and all of the sudden after upgrading next/swr i got these issues

[2020-12-15 05:42] huozhi commented on #816
@underfisk could you provide the previous workable versions of next and swr for us to identify the issue? I'm not sure if it's an issue on next.js side, since swr esm version has been published for quite a while

[2020-12-15 18:26] antonivlev opened #819 "Data cached with mutate('/data', data, false) revalidates on remount"
# Bug report

## Description / Observed Behavior

Globally, `dedupingInterval` option is set to `60 * 60 * 1000` (one hour)

1. Component renders with some `initialData` by passing it to `useSWR`
2. Component saves `initialData` to the cache with `mutate('/data', initialData, false)`
3. Component mounts again, this time without `initialData` and does not run `mutate('/data', initialData, false)`
4

[2020-12-15 18:29] underfisk commented on #816
@huozhi That's the strange part now, if i rollback next or swr versions, it doesn't work anymore.. Its very strange this behavior
I rollback to the previous next which was (10.0.0) and swr (0.2.2)

[2020-12-15 19:10] #819 closed

[2020-12-15 20:13] underfisk commented on #816
@huozhi Sorry for making you lose time, the issue has been found and probably this might help any other that run into this same issue. Basically, since our codebase is so large, there was a PR that instead of consume the global mutate function from swr it was importing from 'swr/esm'

[2020-12-15 20:13] #816 closed

[2020-12-16 03:32] huozhi commented on #298
@enzoferey I feel the reason can be `mutate` is more flexible than `revalidate` that you can pass down any data for updating purpose or just revalidate the state. the functionality of `revalidate` can be replaced by `mutate` so that in new doc site swr didn't document `revalidate` API in the return values, can checkout https://swr.vercel.app/docs/mutation#revalidate

[2020-12-16 11:26] josoroma opened #821 "Fetcher with an AWS signedRequest is not updating data"
# Bug report

## Description / Observed Behavior

useSWR is not updating data when using a custom fetcher:

[code]

## Expected Behavior

To get data populated with the custom fetcher response.

## Repro Steps / Code Example

My component:

[code]

The custom fetcher:

[code]

## Additional Context

![image](https://user-images.githubusercontent.com/69951/102342825-67273d80-3f5f-11eb-9dfa-1dc45d9d

[2020-12-16 11:45] varunkumargande opened #822 "useSWRInfinite with load empty data in this case. needs to be changed"
# Bug report

import React, { useState } from "react";
import { useSWRInfinite } from "swr";

const fetcher = url => fetch(url).then(res => res.json());
const PAGE_SIZE = 6;

export default function App() {
  const [repo, setRepo] = useState("reactjs/react-a11y");
  const [val, setVal] = useState(repo);

  const { data, error, mutate, size, setSize, isValidating } = useSWRInfinite(
    index =>

[2020-12-17 08:34] crispclean opened #826 "useSWR fetches request but data update is not triggered"
# Bug report

## Description / Observed Behavior

Hi, useSWR is not updating data while fetcher receives response: OnLoadingSlow is activated. This seems to happen the first time SWR is triggered, a second trigger will update the data accordingly.

Similar issue: https://github.com/vercel/swr/issues/821

## Expected Behavior

To get data populated with fetcher response

## Repro Steps / Code Examp

[2020-12-17 08:39] crispclean commented on #821
Hi, I have a similar issue: https://github.com/vercel/swr/issues/826

[2020-12-17 09:24] crispclean commented on #826
Ok, this can be closed, apparently a function in my component was also using a data variable which conflicted with the data variable from swr. My bad :)

[2020-12-17 09:24] #826 closed

[2020-12-17 13:33] josoroma commented on #821
Hi @crispclean ! What do you think I need to change on my code?

Thanks!

[2020-12-17 17:33] lorenzomigliorero opened #828 "Clear dedupingInterval of an unmounted key"
# Bug report

## Description

I am developing a simple _CRUD_ application with two views:

_App.jsx_
[code]
_User.jsx_
[code]

_Edit.jsx_
[code]

If the user follows these steps:

- Navigate to '/'
- Navigate to '/edit'
- Click on edit name button
- Come back to '/' after 1 second

_/api/user_  data contains an old cached value.

I've tried to manually delete the cache value instead of calling _mu

[2020-12-17 22:49] TommySorensen commented on #403
@sergiodxa Do you have a example of the code you are suggesting?

[2020-12-18 04:25] #822 closed

[2020-12-18 06:00] u3u opened #829 "Component unmounted may cause the state of other same hooks to not be updated"
# Bug report

## Description / Observed Behavior

`updaters[i](!!shouldRevalidate, data, error, undefined, i > 0)` may cause some components to be unmounted
`CACHE_REVALIDATORS[key]` and `updaters.length` may change in the next loop cause some hooks can not update

https://github.com/vercel/swr/blob/984f784c7cab8b072194ef82b223964a885347c6/src/use-swr.ts#L657-L659
https://github.com/vercel/swr/blo

[2020-12-18 08:35] promer94 commented on #821
[code]

[2020-12-18 15:41] josoroma commented on #821
@promer94 I tried adding a return before Auth.currentCredentials() buuuut it causes an infinite loop of requests.

[2020-12-18 16:23] samsouder opened #830 "RefreshInterval Config Not Respected After Errors"
I have set up the useSWR hook in a Next.js application that is intended to continually refresh some API data. I was noticing that after some errors (502s technically, but any error is fine to reproduce) the `refreshInterval: 2000` I had set wasn't being used anymore and only manually re-focusing the page would cause a revalidation/refresh of the data. Even then, the `refreshInterval` didn't not pi

[2020-12-18 16:26] samsouder commented on #830
In my example sandbox application you can see that the request count rises to 4, hits the 5xx error on request 5, then will succeed to pull another single request but stops thereafter.

[2020-12-18 16:27] samsouder commented on #830
I might also note why I care about this scenario (continual refresh regardless of errors, interaction, etc) specifically is because this is a site loaded on a remote display that isn't interacted with.

[2020-12-18 17:36] promer94 commented on #821
[code]
For more information
https://swr.vercel.app/docs/arguments#passing-objects

[2020-12-18 19:14] #830 closed

[2020-12-19 03:47] josoroma commented on #821
@pacocoursey thanks a bunch! it works!!!

[2020-12-19 03:47] #821 closed

[2020-12-19 09:49] AyWa opened #832 "Mutate with custom updater when no useSWR seems to have wrong state"
# Bug report

## Description / Observed Behavior

Simple case is:

- a user action that will trigger a mutate on a `key` with a **custom updater**
- after this action is done mount a component (or in a next js app push to router) that will use this `key`

-> the data that I see is not correct.

## Expected Behavior

Expected behavior are:

- if mutate is call and then a first `useSWR` is done on t

[2020-12-19 10:03] huozhi commented on #832
@AyWa if you display the button and DisplayData all the time, and change the last argument of `mutate` from `true` to `false`, you'll see:

1. fetched data by useSWR is rendered at first
2. click button
3. the mutated data will replace the default data

from:
<img src="https://user-images.githubusercontent.com/4800338/102686714-6541d080-4224-11eb-85f8-f4ec77edf1bd.png" width="200"/>
(after click)

[2020-12-19 10:20] AyWa commented on #832
No this is not what I want to see. Sorry if I didnt explain well.
The behavior is:
- I do not want to display the 2 component at the same time (because they could be different page) - > So the example given replicate that
- I do not want to set the last argument to false (because I want to revalidate)

What I expect is:

- user click button
- mutate the key - > update date
- mount a component that

[2020-12-19 11:18] huozhi commented on #832
I think the reason is that the when mutate is done, the revalidation is started, but the useSWR hook is not been called yet (DisplayData is not mounted). you might want to find a way to keep your hook there before displaying. like

[code]

[code]

[2020-12-19 11:18] promer94 commented on #832
I think this is a bug which was introduced by #735
https://github.com/vercel/swr/blob/7858407a184dd273a4bc2158e270ea6a0ab5a4c7/src/use-swr.ts#L445-L463

we ignored a case like this
[code]

[2020-12-19 11:34] promer94 commented on #832
Maybe we could reset the mutation time stamp to undefined if there is no updater in CACHE_REVALIDATORS ?
[code]

[2020-12-19 20:21] shuding commented on #832
We can't ignore the revalidation result if it's this case (mutation ended before the revalidation starts):

[code]

It's still not clear to me why it's related to #735... I'll check which case causes that 🤔

[2020-12-19 20:38] shuding commented on #832
Commented here: #833, it was indeed a bug!

[2020-12-20 03:00] #832 closed

[2020-12-20 04:34] AyWa commented on #832
Thanks a lot for the fast investigation and fix !! You Rock 🥳

[2020-12-22 07:54] huozhi commented on #387
additional context repro version

seems this issue is been resolved with

[2020-12-22 07:56] huozhi commented on #387
this issue is reproed with v0.2.1-beta.2. seems to be resolved in the new versions. @0xkoffee you can upgrade to latest version of swr to solve this issue.

[2020-12-22 08:01] u3u commented on #829
@shuding @huozhi
Hello, is this problem expected behavior or a bug? 🤔️
Can this problem be solved if `setTimeout` is called during `removeRevalidator`?

[2020-12-28 14:52] Kerumen commented on #804
Duplicate of https://github.com/vercel/swr/issues/284

[2020-12-30 12:57] Kerumen commented on #157
@shuding What's the progress on this subject? I'm very interested for this new API of `mutate`. Thanks!

[2020-12-31 14:16] AmmarMohamadIsmaeel opened #847 "Error Catching not working with suspense true"
useSWR catching errors is not working when adding to the options suspense true

The code will never enter the if the statement of the error and the website will carshes
and If we remove the suspense true everything will work fine

[code]

[2021-01-01 21:25] danharper commented on #597
Yeah I found this weird too!

e.g. in my app I'm pre-populating individual item keys (e.g. `/api/locations/1`, `/api/locations/2`) when a "list" request is made, e.g. `/api/locations`), and don't need to send that `/api/locations/1` request when you go to the details page; using SWR's `mutate` function.

I can set `revalidateOnMount: false` to avoid the useless network request; but I want it to be

[2021-01-02 10:02] vanam opened #852 "SWR keeps refreshing with old bearer token"
# Bug report

## Description / Observed Behavior

I have encountered strange behavior when accessing endpoints with bearer token. I have a fetcher like this:
[code]

and a hook like this:
[code]
After token refresh SWR keeps refreshing with both tokens - the old and the new.

## Expected Behavior

I would expect SWR to refresh only with the new token.

## Repro Steps / Code Example

Source code: h

[2021-01-02 18:39] shuding commented on #597
I strongly disagree that those are "useless network request", I want to clarify the idea behind this.

The name of SWR stands for "stale-while-revalidate". Which means "even if we have the stale cache, we still send the request to validate that our cache is up to date". SWR isn't simply just a cache, what it provides is better UX and **eventually data consistency**. The revalidation is needed, not

[2021-01-03 02:50] promer94 opened #854 "onSuccess callback might be called with stale key"
# Bug report

## Description / Observed Behavior

In #852 , If fetcher is really slow and the key changes during the refresh revalidation,
there will be two revalidation(one with old key, one with new key) which will call the onSuccess callback.

#853 will not solve this problem because the ongoing revalidation with the old key could not be cancelled

## Expected Behavior
I think the onSuccess sho

[2021-01-03 04:55] #852 closed

[2021-01-03 08:57] vanam commented on #852
Thank you

[2021-01-04 08:49] #804 closed

[2021-01-04 08:52] Qrymy opened #857 "useSWRInfinite does not restore scroll position"
# Bug report

## Description / Observed Behavior

I'm using `useSWRInfinite` with `firestore`, however it does not restore scroll position after browser back.
This is current behavior.

https://user-images.githubusercontent.com/26219456/103517383-5c542e80-4eb5-11eb-9344-6a42f7775730.mov

## Expected Behavior

After browser back, it should be kept scroll position before url changed.

## Repro Steps

[2021-01-04 09:15] huozhi commented on #857
caching browser scroll position is out of of swr's scope. you can memorize the scroll position in local/session storage, read and scroll to the position when navigation happens.

[2021-01-04 09:15] #857 closed

[2021-01-04 10:12] Qrymy commented on #857
@huozhi
Thanks for your response!
I know an idea that using local/session storage, but I've found "Pagination and scroll position recovery" statement at [top page](https://swr.vercel.app/), I've made this issue.

If you know, please let me know this statement's meaning.

Thanks

[2021-01-04 12:19] huozhi commented on #857
@Qrymy are you using safari browser? I tried the example link in the description with both chrome and safari, it turns out when you navigate back chrome will preserve the scroll position, but on safari it doesn't maintain the scroll position in last page.

seems this is not a stable cross browser behavior? 🤔 cc @shuding if you have any insights about this or any other elegant solution about this.

[2021-01-04 12:37] Qrymy commented on #857
@huozhi
I'm using Chrome with Mac, but it doesn't keep scroll position...
I would like to know scroll position recovery is achieved with only SWR?

[2021-01-04 12:47] huozhi commented on #857
by default browser API `history.scrollRestoration` is `'auto'` indicating it will restore the scroll position on this page.
reference: https://developer.mozilla.org/en-US/docs/Web/API/History/scrollRestoration

so you should be able to achive it even without SWR. SWR infinite API is trying to cache the data of your list to let the list render smoothly instead of shaking.

UPDATE: I tried your link

[2021-01-04 14:00] EliasSchlatter opened #858 "mutate is not rerendering"
# Bug report

## Description / Observed Behavior

I'm using mutate() to update data. Here is a little snip of what I want to do:

[code]

I think mutate is working and data is properly updated, because if the UI is updated for another reason (for example a scroll event) the fresh data appears. But for some reason the UI is not updated, right after executing mutate()

## Expected Behavior

I would

[2021-01-04 15:40] promer94 commented on #858
In codesanbox, i think the problem is

[code]
fakePutRequest will return ```undefined```

```mutate(undefined, false)``` will not make component rerender.

[2021-01-04 17:25] EliasSchlatter commented on #858
Hi @promer94,

thanks for your response. I don't think that's the problem, because if you take a look at the console tab while clicking the star button, you'll see that the array "exerciseIds" is set and also changes its value.

[2021-01-04 17:28] EliasSchlatter commented on #858
Hey, I just saw that the console log for some reason is not visible from other accounts. Here is a picuture of mine:

![swr](https://user-images.githubusercontent.com/13678087/103561940-9542d200-4eba-11eb-8b6c-4bfc1f412726.JPG)

the same value that is logged will be returned from fakePutRequest.

[2021-01-04 21:17] loopmode commented on #738
I'd like to drop my two cents regarding API design and passing null for fetcher, even while it's only slightly related.
In my fetching hooks i typically use a concept where I can pass an option `autostart` or `autoload` which defaults to true, and my hooks typically return a `load` or `start` function, which can be used manually if autostart is set to false.
Maybe something similar could be consid

[2021-01-05 00:40] Qrymy commented on #857
@huozhi
Thanks, I'll try to check `scrollRestoration` settings!

[2021-01-05 02:44] promer94 commented on #858
https://codesandbox.io/s/fancy-smoke-k1016?file=/pages/index.js

[2021-01-05 08:23] grazianodev commented on #857
I'm having the same issue... Can anyone on the team please confirm whether scroll position recovery should be expected with useSWRInfinite (as the documentation seems to suggest), or if it's something we have to take care of?

I'm using useSWRInfinite with Next.js by the way, so when I hit the back button I'm doing a client-side transition.

[2021-01-05 08:43] huozhi commented on #857
@grazianodev
* restoring scrolling position between navigations is a browser native feature
* useSWRInfinite is responsible for providing cahced state between navigations

I'm not sure the case you're working with next.js, it would be great if you can provide any minimal reproduction. if it's a next.js issue we can also work with next.js team to solve it out.

[2021-01-05 09:33] grazianodev commented on #857
Thank you @huozhi. I'll try to create a minimal reproduction as you suggest.

In the meanwhile, I might be wrong but as far as I know native scrolling positions only work between different pages, and not when routing is done client-side in single page applications (like Next.js).

Also, just to be clear data caching is working for me, meaning when I hit the back button useSWRInfinite correctly sho

[2021-01-05 15:35] grazianodev commented on #857
Hey @huozhi, I've done some tests and I think I've found the issue. It's very easy to reproduce, but I've put together a quick example anyway: [https://github.com/grazianodev/useswrinfinite-scroll](https://github.com/grazianodev/useswrinfinite-scroll)

The problem arises with pages generated statically by Next.js (using getStaticProps). If you don't use getStaticProps, scroll restoration works fla

[2021-01-05 15:57] huozhi commented on #857
@grazianodev thanks for providing the reproduction. sounds like it's because next.js SSG will unmount the DOM nodes of whole page while navigating, so that the default scroll position cannot be preserved?

IMO I feel it's more like a next.js behavior which could still be optimized to improve the experience in long term for scroll position restoration. it's not an issue for SWR so I'd like to keep

[2021-01-08 17:09] Janpot opened #873 "Wrong cache result returned for same key but different fetch function"
# Bug report

## Description / Observed Behavior

Using different fetch functions but with overlapping keys makes the cache confused.

## Expected Behavior

Each fetch function I provide should have its own isolated cache. i.e. the function should be part of the cache key, as if you would do (see repro steps)
[code]

## Repro Steps / Code Example

[code]

https://codesandbox.io/s/swr-issue-overlap

[2021-01-08 21:06] lildata commented on #522
I do get the same `ReferenceError: navigator is not defined` when trying to use SWR in an Ink app (https://github.com/vadimdemedes/ink)
(The SWR requests do succeed tho)

[code]

## Additional Context
nodejs: 14.15.1
swr: 0.4.0
react: 17.0.1
ink: 3.0.8
typescript: 4.1.3

[2021-01-09 03:16] huozhi commented on #522
@lildata currently swr can only works very smoothly in browser runtime only (the time when I wrote this reply). the short unofficial work around could be:

[code]

making swr become more flexible for different runtime is still in progress :)

[2021-01-09 10:37] lildata commented on #522
@huozhi Many thanks & my bad I just assumed node was supported...

[2021-01-09 17:28] EliasSchlatter commented on #858
Hi @promer94 ,

sorry for the stupid mistake. I updated my original [CodeSandbox](https://codesandbox.io/s/billowing-field-s8d11?file=/pages/index.js), but the issue remains. Hopefully you can help me and thanks for your efforts so far.

[2021-01-09 18:45] shuding commented on #873
This is expected behavior because the resource is always identified by the key. Like React hooks `useCallback(fn, [key])` won’t return the new result when `fn` changes (also technically it’s not possible to make fetcher part of the key, e.g., people use anonymous inline functions as the fetcher).

What you described:

[code]

actually looks great because the fetch method also identifies the resour

[2021-01-09 21:33] #873 closed

[2021-01-10 11:57] wildfrontend opened #883 "add useCallback in useSWRInfinite example when need to use setSize"
# Bug report

## Description / Observed Behavior

What kind of issues did you encounter with SWR?

`setSize` infinite loop in `useSWRInfinite` when combine with `intersection-observer`

because we need to use `useEffect` to listen scroll,

so if use `setSize()` will be  infinite loop

## Expected Behavior

How did you expect SWR to behave here?

maybe can add  `useCallback` is fine

like

[code]

[2021-01-10 15:16] koba04 commented on #847
@AmmarMohamadIsmaeel As the document describes, you have to use an [error boundary](https://reactjs.org/docs/concurrent-mode-suspense.html#handling-errors) instead of the error property.

https://swr.vercel.app/docs/suspense

[2021-01-10 19:08] AmmarMohamadIsmaeel commented on #847
I want each component to handle its different errors, How could I do this?
 For example, for a specific component, the 403 means something and for the other components it means something else and I have to display a different message.

[2021-01-11 03:26] koba04 commented on #847
@AmmarMohamadIsmaeel
You can handle errors differently on each component by creating each ErrorBoundary or passing different props to a single ErrorBoundary.

[code]

or

[code]

Does it make sense?

[2021-01-11 12:25] AmmarMohamadIsmaeel commented on #847
Yes, Thank you but How Can I use such a thing inside a map for routes?

  <Switch>
                                {dashboardRoutes.map((route, i) =>
                                    <PrivateRoute key={i} isAuthorised={isAuthorised} isLoading={isLoading} {...route} />
                                )}
                                <Redirect to={{ pathname: '/404' }} />

[2021-01-11 12:26] AmmarMohamadIsmaeel commented on #847
Yes, Thank you but How Can I use such a thing inside a map for routes?
[code]

[2021-01-11 12:30] TommySorensen commented on #738
@promer94 I recent used the [same approach](https://paco.sh/blog/shared-hook-state-with-swr) but found it kind of buggy when using it as a shared hook with initialData several places with something like this:

[code]

The main issue was that when doing multiple `mutate`, to set the `searchHasItems` to `false`or `true`, then the useSwr suddenly returns the initialData from previous like on the scre

[2021-01-11 13:56] koba04 commented on #847
Sorry, I'm not sure about your router implementation, but couldn't you wrap your page components by error boundaries?

[2021-01-11 14:00] AmmarMohamadIsmaeel commented on #847
Yes, It worked, Thank you so much for your help!

[2021-01-11 14:12] koba04 commented on #847
👍 BTW, `vercel/swr` enables GitHub Discussions, so I think it's the best place to post a question like this😄
https://github.com/vercel/swr/discussions

[2021-01-12 11:16] koba04 commented on #263
I've created a PR to fix this.

[2021-01-12 17:43] #780 closed

[2021-01-13 06:29] pacocoursey commented on #174
Seeing as this is old, stale, and MS Edge has been on Chromium for over a year, I think this is safe to close. Please feel free to re-open if this is still a pressing issue and we can look further.

[2021-01-13 06:29] #174 closed

[2021-01-13 06:39] pacocoursey commented on #522
Closing as it's been made clear that SWR only supports a browser environment, for now, and better error handling has been added!

[2021-01-13 06:39] #522 closed

[2021-01-13 13:18] koba04 commented on #847
@AmmarMohamadIsmaeel Could you close this issue if you don't have any other questions?

[2021-01-13 17:29] AmmarMohamadIsmaeel commented on #847
In the end, I use the package react-error-boundary to handle the error:

[code]

and place it between the routes.
And for a custom error that I want to handle in a specific component, I added an error handler in the fetch like this:
`    const fetcher = url => Axios.get(url, authHeader()).then(res => res.data.data, error => handleError(error));
`
But still, I am having a problem, is that the SWR i

[2021-01-14 13:17] koba04 commented on #847
Could you create a CodeSandbox project to reproduce it?
https://react.new/

[2021-01-14 17:10] Munnopsis commented on #858
Hi together,

I ran into pretty the same issue.

In my case i call mutate([newData], false), with [newData] coming as response from my backend and my UI does not refresh.

Also when I deepclone the returned newData before I call mutate([...newData], false), it does not refresh.

When I deepclone an {...object} with spread syntax **before** it is sent to the backend, then replace the object in [...

[2021-01-15 14:34] mikestopcontinues commented on #308
Yeah, I'm having this bug too. I use SWR to do live edits, where the first time it makes sense to revalidate is when the user saves to the db, not during the edits themselves. Thanks @oran1248 for the workaround.

[2021-01-15 14:52] pablen opened #906 "compare function returning true still updates cache"
# Bug report

## Description / Observed Behavior

When using a custom `compare` function and the comparison returns `true`, the `data` returned correctly keeps its current value, but the cached value still updates. This causes `data` to use the last received value when the component remounts and not the intended initial value we wanted to cache.

## Expected Behavior

From reading the documentatio

[2021-01-16 15:04] mikestopcontinues commented on #308
I found another workaround, if you're only referencing the SWR key in one place:

[code]

[2021-01-17 04:43] promer94 commented on #906
Thanks for your detailed repro 🙏

For your specific use case. I think you could filter the data in the fetcher function, which might be more easier.

[code]

Writing a compare function sometimes could be a trick problem. so we use [dequal](https://github.com/lukeed/dequal) as our default compare function.

[2021-01-17 06:12] pablen commented on #906
Thank for the suggestion @promer94!

Unfortunately my use case is a bit more nuanced and I actually need the timestamp and other variable parts of the response to use in my component. The `compare` feature is exactly what I need to update the cache conditionally.

[2021-01-18 13:00] shuding commented on #858
First of all, thanks for opening this issue! But please simplify your reproduction to keep it **minimal**. There're a lot of unrelated stuff such as `isNoted`, and that will not help the maintainers understanding the problem you're having.

@Munnopsis can you try to reproduce it by adding some mock up to this CodeSandbox template: https://codesandbox.io/s/swr-basic-wnqi2? It has nothing to do with

[2021-01-18 14:13] AmmarMohamadIsmaeel commented on #847
@koba04 Here is something like my code.

https://codesandbox.io/s/zealous-williams-38jhe?file=/src/App.js

My problem is: If the rest api resturns me and error for some reason maybe 403, and then I fix the problem in the api, and try again without refreshing the page, The response will also be 403 error since its cached and I am returning back to the error page

[2021-01-18 19:26] pedro-pedrosa opened #908 "mutate in useSWRInfinite is broken when passing data and revalidate true"
# Bug report

## Description / Observed Behavior

When using `useSWRInfinite`, if we call the bound `mutate` function and we pass the data argument, the data is not updated or revalidated.

## Expected Behavior

I expect `useSWRInfinite` to both update the cache and re-fetch data from source.

## Repro Steps / Code Example

[CodeSandbox](https://codesandbox.io/s/festive-galois-wbbr5)

Notice how `

[2021-01-19 13:54] koba04 commented on #263
This has been fixed via #886, so we could close this.

[2021-01-19 14:11] koba04 commented on #847
@AmmarMohamadIsmaeel How about the solution?
https://github.com/vercel/swr/issues/193#issuecomment-615951469

[2021-01-19 14:16] huozhi commented on #263
Close this as the warning has been disabled in latest commits. `config.suspense` is required to be static during the swr lifecycle.

[2021-01-19 14:16] #263 closed

[2021-01-19 14:36] koba04 commented on #803
The cache of SWR is not per component, which is a global cache. I think this is intended behavior because it makes sense in many cases.
For example, let's think about a case navigating from a timeline page to a detailed page, and then going back to the timeline page. We would expect the timeline page is restored when we go back from the detail page to the timeline page.

But it might make sense th

[2021-01-19 15:38] AmmarMohamadIsmaeel commented on #847
@koba04 Unfortunately It did not work, I am now in an infinite loop of calling the request and the error boundary is not handling the error.

![image](https://user-images.githubusercontent.com/57847174/105056602-14b8cf80-5a7d-11eb-8e99-81516739977a.png)

[2021-01-19 15:43] koba04 commented on #847
@AmmarMohamadIsmaeel Thanks. How can I reproduce your case?

[2021-01-19 15:54] AmmarMohamadIsmaeel commented on #847
1- Make an api call using axios and swr with suspense true in a compoenent...Something like this:

[code]

2- Implement Error Boundary with fallback between the routes...Something like this:

[code]

3- Add The swr global config in the App.js to clear the cache on error...Something like this:

[code]

[2021-01-19 16:49] #854 closed

[2021-01-19 18:02] o-alexandrov commented on #728
Could you please shred some light on the overall direction you plan to move forward with?
It'd be great to know, if you support Sergio's proposal, so only the following needs to be done to get it merged:
- https://github.com/vercel/swr/pull/457#pullrequestreview-492206499

[2021-01-21 11:48] isBatak commented on #803
@koba04 it depends if the user goes back by clicking on the browser back button or he clicks on the main navigation link.
Can we somehow detect the browser back and keep the size and in any other case rest the size?

[2021-01-21 16:29] Kerumen opened #922 "2 subsequent `mutate` doesn't trigger a re-render in the first one"
# Bug report

## Description / Observed Behavior

Calling 2 subsequent `mutate` (the second with an async call) doesn't trigger a re-rerender with the first one. I have an UI that I want to optimistic update when the user trigger an updates and an API call which will update the data when the response comes in.

The snippet below is just to illustrate the bug. When I trigger the update, I want the

[2021-01-21 19:49] shuding commented on #803
Indeed like what @koba04 said this isn’t a bug. It’s a feature to recover the scroll position for infinite scrolling scenarios.

I can’t think of a case that you don’t want to recover the scroll position when you hit the Back button (for example Twitter or Facebook). And when you hit the link on the navigation bar (in this case the browser won’t reset the scroll position), it’s good to show all th

[2021-01-22 08:22] promer94 commented on #922
SWR will batch the rerender if two or more mutations happen at same time. This behavior is expected.

Instead of using await 0 as workaround, you could do

[code]

[2021-01-22 09:42] Kerumen commented on #922
@promer94 Thanks for your answer!
I think this should be documented somewhere because the code was working on `v0.3.8` and stopped on `v0.3.9` upgrade. I had to manually check which version caused the "regression" and was not able to fix it on my own.

[2021-01-22 15:37] pedro-pedrosa commented on #908
forgot to save my sandbox before sharing. it should be okay now

[2021-01-22 15:54] pedro-pedrosa opened #926 "revalidateOnMount is broken on useSWRInfinite"
# Bug report

## Description / Observed Behavior

`useSWRInfinite` is not revalidating on mount when prop is set in config

## Expected Behavior

It should revalidate on mount

## Repro Steps / Code Example

[CodeSandbox](https://codesandbox.io/s/peaceful-antonelli-kfe7v)

mounting/unmounting has no effect on the data reendered on the page. note how it works with a `useEffect` call to `mutate()`

[2021-01-22 16:58] kylemh commented on #129
What about automatic cancellation of fetches with the same key when one finishes before another?

[2021-01-23 18:45] Jonofat opened #928 "Sending headers with Axios"
I am trying to send headers using SWR and Axios but the headers are not being sent.

[code]

I can't find anything in the SWR documentation about sending headers?

[2021-01-24 01:56] huozhi commented on #928
checkout https://swr.vercel.app/docs/arguments#multiple-arguments

[2021-01-24 01:56] #928 closed

[2021-01-24 18:46] aboutlo commented on #728
I'm experimenting with a similar concept in a wrapper of SWR for Ethereum https://github.com/aboutlo/ether-swr
I'm not sure I really want to use a different hook to observe  e.g. `useSWRObservable` I ended up to have a subscribe parameter that can handle the callback too:

[code]

[2021-01-25 15:39] koba04 commented on #644
@derolf Could you reproduce the case on CodeSandbox?

[2021-01-25 21:22] rxb commented on #284
@jacobedawson thank you for the tip! `revalidateOnMount: true` does revalidate.

My issue now is that I'm fetching the same data twice in a row on the client for every client-side page route, once in getInitialProps (which is thrown out) and once again right after that when swr revalidates on mount. I'm considering detecting if the page is being rendered SSR and only fetching if isServer.

[2021-01-25 21:28] ties-v commented on #523
I have the same issue as @zomars and use this workaround for now. Maybe it is helpful for others.

[code]
It basically sets the value of `initialData` into the cache on the first render, if the cache is empty for this key.

[2021-01-26 06:36] huozhi commented on #728
agree with @sergiodxa that we'd better to support both. I'm trying to make the API more flexible in #913 that we could let user do a little customization to fit the API. observable is definitely kind of heavy, so I wanna find the balance between them and try to get closer to subscription shape.

@aboutlo 👍 like the idea you build the customized subscription on top of core swr hook, awesome!

[2021-01-26 16:38] bardsol commented on #284
I also ran into this issue thinking that initialData was a default data prop, like useState(data). But instead of attacking it at the key level, I decided to approach this at the fetcher function. You can create your own initialData at the fetcher level and only return it on the initial route. Downside is you still need to keep track of what was your initial key on mount.
[code]

Her is an example

[2021-01-26 22:59] em commented on #242
This is very useful for optimizing preloading - I want to only load things out of view when the network is unsaturated. With a hook that told me the network was free - I could decide to preload things below the fold using SWR conditional loading.

[2021-01-27 11:07] webda2l commented on #738
Instead using null as fetcher, I use ```(key, value) => new Promise(value)```, you can give a try.

An example:
[code]

[2021-01-28 08:39] gaoxiaoliangz commented on #630
This is actually what I impl now, but the problem is that there is too much data to sync, and each time new data arrives I have to check them all in order to sync them to local, this is really inefficient.

[2021-01-28 19:15] springkjw opened #934 "first Item of data is wrong on useSWRInfinite"
# Bug report

## Description / Observed Behavior

I am implementing infinite scroll pagination using `useSWRInfinite`. However, after the third page scroll, the first item of `data` is not first page data but of the second page data.

## Expected Behavior

When do page-nation, the first item in the `data` must be on the first page.

## Repro Steps / Code Example

[code]

## Additional Context

SWR

[2021-01-28 22:14] em opened #936 "Support conditional fetching in useSWRInfinite"
I've tried passing null instead of a getKey function to useSWRInfinite. Also tried returning null from getKey.

In both cases, this results in a deadlock where no additional pages will be loaded when setSize is used to increase the size.

[2021-01-29 15:38] koba04 commented on #883
@shuding Why did you add the `documentation` label in this? What documentation do you expect?

[2021-01-29 15:46] shuding commented on #883
@koba04 Sorry I should explain a bit more. I think he's referring to this example: https://swr.vercel.app/examples/infinite-loading, which is very basic. Added the label since we need an example specifically for infinite scroll cases (load more when you hit the page bottom).

[2021-01-29 15:50] koba04 commented on #926
@pedro-pedrosa
Revalidating seems to be happened when `revalidateOnMount` is enabled. In the [CodeSandbox](https://codesandbox.io/s/peaceful-antonelli-kfe7v), your fetcher function (`() => Promise.resolve(buildData(counter))`) seems to be called on mount when `revalidateOnMount` is true. As a result, `0` is rendered after mount.

Could you explain what you expect?

[2021-01-29 15:53] koba04 commented on #883
Thank you! I agree with you 👍 The documentation is very helpful.

[2021-01-29 20:53] pedro-pedrosa commented on #926
Sorry I probably should have explained my codesandbox a little bit better. each mount/unmount increments a counter by 1. this counter is passed as prop to a component that gets mounted/unmounted. this component calls `useSWRInfinite` and provides a fetcher function that depends on this counter.. so in theory, each mount/unmount cycle should make the fetcher function print 2 more numbers than the p

[2021-01-30 02:42] huozhi opened #940 "Test suite of focusThrottleInterval fails very often"
# Issue report

## Description

What kind of issues did you encounter with SWR?

swr test case for `focusThrottleInterval` fails very often

[code]

## Expected Behavior

The test should be passed if code change doesn't break it. currently we need to re-run jobs when it's failed on github actions.

## Repro Steps / Code Example

N/A, observed it on github actions

## Additional Context

N/A

[2021-01-31 20:37] fermmm opened #943 "When revalidateOnMount = false, requests are never made"
I configured globally revalidateOnMount = false and no requests are made. Doing a request for the first time when there is no cache yet should not be considered re-validation since there is no "re.." in that action. At least a request should be made on first mount.

In my project I want my requests to only be sent when there is no cache, in other words: after the first call to useSwr() I want all

[2021-02-01 02:07] testerez commented on #242
I've been trying to implement a hook similar to react-query's `useIsFetching`. But I realize it does not account for the unmounted `useSWR` hooks that could remain in `validating` state forever...
[code]
See my monologue here: https://github.com/vercel/swr/discussions/942

A built-in hook and/or event listener as @shuding is suggesting would be a useful addition imho.

[2021-02-01 07:39] AlexanderKaran commented on #471
Hi, is there any update on this? I can see the PR is still open in ReactNative

[2021-02-02 13:23] wildfrontend commented on #936
@em maybe you can try
`const loadMore = useCallback(() => setSize(state=> state +1),[setSize])`

but another case is when fetch request error, useSWRInfinite will also return infinite loop

[2021-02-02 14:53] koba04 commented on #926
@pedro-pedrosa
I think it seems to work fine if `(i, prev) => (prev ? null : "test")` is replaced with `(i, prev) => "test" + counter`.
The behavior seems to be caused by returning `null` as a key.

[2021-02-02 14:53] koba04 commented on #940
I've created #944 to fix this.

[2021-02-02 15:05] koba04 commented on #934
@springkjw Could you reproduce this on a CodeSandbox Project or make the code simpler? This seems to be hard to confirm the issue.

[2021-02-02 15:16] pedro-pedrosa commented on #926
I thought you pass null when there are no more pages? so it only revalidates when there are more pages to show?

[2021-02-02 16:58] TheAsda opened #947 "SWR uses old key while using ssr"
# Bug report

## Description / Observed Behavior

I'm using SWR and NextJS. I provide `initialData` via props and update key from state but it does not fetch with new key. Looks like it happens only if `initialData` is provided.
Another strange thing: when state contains empty string refetching happens. But if you change state to any string it returns initial data.

## Expected Behavior

It should

[2021-02-02 18:37] woxxy commented on #908
I can reproduce the above. A further issue: if you use `useSWRInfinite` with `refreshInterval`, you will lose any changes made every time the reload is run.

I found a workaround:
- do the mutate() that is returned by `useSWRInfinite` as you would expect
- use the _import_ `mutate()` to modify the key-cache:

[code]

I take that this is updating the page cache forcefully and persist the change.

[2021-02-02 21:40] #940 closed

[2021-02-03 01:51] petehunt opened #952 "Expose waitForDedupingInterval() as part of the public API"
Writing tests with SWR is very painful. If you don't know the magic incantation in #781, you can easily have nondeterministic tests that can be quite difficult to debug.

I'd expect there to be a way for a test to wait for all pending requests to complete. We have rolled our own at Twitter but I'd much prefer it to be documented, stable behavior rather than `sleep(1)` :)

[2021-02-03 05:54] mikevercoelen opened #953 "SWR v0.4.1 crashes React Native when debugging"
When debugging React Native, SWR v0.4.1 is causing the following error:

`document is not defined`

It's due to all changes where we use document without checking if it exists:

https://github.com/vercel/swr/compare/0.4.0...0.4.1

[code]

Became this:

[code]

V0.4.0 is working fine

[2021-02-03 08:11] GuichiZhao opened #954 "suspense and revalidateOnMount are related in an expected way"
# Bug report

## Description / Observed Behavior

Data is not fetched when disabling all validation options which is expected. However, data is fetched again when `suspense` is enabled

## Expected Behavior

validation option and `suspense` should not be related

## Repro Steps / Code Example

[code]

[2021-02-03 11:20] #847 closed

[2021-02-03 13:49] koba04 commented on #952
`waitForDedupingInterval` that I've added depends on `sleep(1)` and  `testing-library`'s `act`, so it doesn't make sense to expose this as a public API.
But I think it's a good idea that SWR provides an API for the case.
SWR can provide a more stable API if it's implemented as a part of SWR because it can wait for a deduping interval and async mutations precisely.

The downside is to increase the

[2021-02-03 14:08] doorman02 commented on #588
Hi @valse @BenoitAverty @koba04 I am using useSWRInfinite with initialData set based on the first page data coming from SSR. However when I scroll down it reloads both page 1 and page 2. I would expect only page 2 to load.
Is it intentional behaviour to reload page 1 even if it is already set as initialData? Thanks!

[2021-02-04 09:21] em commented on #936
Thanks wildfrontend. I was able to workaround before I filed the issue by just restructuring things with wrapper components. Conditional fetching in useSWR is really just sugar anyway and the same thing can be accomplished by conditional rendering, it can just make your component IA not very nice. I filed the issue because it's a nice-to-have feature request for useSWRInfinite to have parity with

[2021-02-04 15:04] koba04 commented on #953
I've created a PR to fix this. #963

[2021-02-04 15:09] #953 closed

[2021-02-04 15:34] fcrezza commented on #193
Very late to the party and yes swr will automatically clear an error in specific endpoint if the result of that endpoint was successful but in case you want to fetch data again after the error occurs in the first fetch, you can clear an error in a specific endpoint by just calling mutate and pass null value like this
[code]
the code above will automatically clear the error related to the endpoint

[2021-02-04 21:22] filipeperdigaosousa commented on #908
@woxxy I have a similar issue.
I'm trying to mutate data using the mutate returned by`useSWRInfinite`but it doesn't revalidate.

Can you better explain your workaround?

When you mutate using `getKey`are you mutating all the list or a single page?

I'm not understanding well how to mutate  `useSWRInfinite` with filters and pages and other parameters.

Thanks in advance

[2021-02-04 23:37] pedro-pedrosa commented on #908
for workaround you can do:

[code]

the first one mutates the cache, the second triggers revalidation.

[2021-02-07 23:07] adrienharnay opened #971 "Infinite loading when accessing the project from another device"
# Bug report

## Description / Observed Behavior

I'm currently working on a Next.js project with SWR. I am using the useSWR hook. I run the project with either `next dev` or `next build && next start`.

When accessing `localhost:3000`, the query completes fine. When using my local ip (e.g. `192.168.0.1:3000`) on the same computer I run the server on, the query completes fine as well.

When I try

[2021-02-08 06:01] shuding commented on #971
Hi! Is the API that you are requesting to inside pages/api? It will also be helpful if you can reproduce with another computer and take a look at the console.

[2021-02-08 07:52] mikevercoelen commented on #953
Can we get a release for this please? As the latest version is broken on React Native, pretty essential to get this out there asap?

[2021-02-08 11:43] koba04 commented on #953
@mikevercoelen That makes sense for me.
@shuding Could you publish a new version?

[2021-02-08 13:59] shuding commented on #953
Sorry for the delay, just published version 0.4.2 🙏

[2021-02-09 12:03] situplastik commented on #588
My "temporal solution" is put `initialSize=0` as @valse initial propose, and `initialData` (as array declared) inside the concatenation array:

https://codesandbox.io/s/swr-infinite-initial-data-forked-ppo2r

With that, it works as expected, hope that helps more developers.

But would be great to admit initialData as we demand, as a simple array or and array with 1 position and the elements inside

[2021-02-09 14:31] mehthabux opened #973 "How can i persist data in cache but not inside Async Storage in React-Native"
i have tried useSWR in my react native app , everything works fine and great! but all the cached data are lost when i reload the app
I was seeing the entire documentation , but no where i could’nt  see the option to persist data in cache.

[2021-02-09 14:55] koba04 commented on #588
According to https://github.com/vercel/swr/pull/894#issuecomment-759645838, it is expected that SWR doesn't store `initialData` into the cache.

But I also understand that there are developers who expect that `initialData` is stored into the cache.
The following is a test case that is based on #894, but it avoids sending a request for the first page.
This returns `initialData` from the fetcher fun

[2021-02-09 18:21] adrienharnay commented on #971
Hi! It seems that the error was my fault (server was on first machine), I am sorry for the extra issue! Have a nice day.

[2021-02-09 18:21] #971 closed

[2021-02-09 18:21] shuding commented on #971
No worries!

[2021-02-09 19:02] kamami commented on #934
Same issue. First time loading data is undefined... Using swr 0.4.2

[2021-02-09 23:25] stnmonroe commented on #943
I completely agree with this. A cache-first query would be ideal here, similar to Apollo. If data exists, good, otherwise query.

[2021-02-11 14:43] #803 closed

[2021-02-11 18:03] skrivanos opened #975 "Mutator function ends up in cache if it throws an error"
# Bug report

## Description / Observed Behavior

If you pass a mutator function to `mutate` and it throws an error the function itself will end up in the cache.

## Expected Behavior

Keep the old data in the cache.

## Repro Steps / Code Example

https://codesandbox.io/s/wizardly-tree-ghhb3?file=/src/index.js

## Additional Context

0.4.2

Cause:
https://github.com/vercel/swr/blob/0.4.2/src/use-

[2021-02-12 09:09] mislavmiocevic opened #976 "useSwrInfinite order of calling hooks and setSize matters"
# Bug report

## Description / Observed Behavior

Let's say there are 2 components, A and B.
A and B are using custom hook which is returning useSwrInfinite props.
One of them, let's say B, is also setting size using setSize.

If you have:
[code]
setSize will increase size variable, but for some reason useSwrInfinite will not make a new fetch request for new page.

But if you switch order in which

[2021-02-12 12:31] ivan-kleshnin commented on #141
Much worse, `empty data = loading` assumption works only for the first request.
For all consequent requests (refetches) from the same `useSWR` data will not be empty.

[2021-02-12 13:38] koba04 commented on #934
@kamami  Could you reproduce it on a CodeSandbox Project? That would be very helpful.

[2021-02-12 16:07] koba04 commented on #172
This is an interesting proposal.
I don't fully understand the goal of the middleware system.
But the following also might be an option for the interface.

[code]

The interface, which this PR proposes, has to override the fetcher implementation in many cases like logging. Personally, I feel it seems to be more clear to be able to add plugin implementations around the original `useSWR`.
The interfa

[2021-02-12 16:30] koba04 commented on #975
I've created a PR to fix this. #977

[2021-02-13 20:19] mwest-cs commented on #454
Just dropping to add a +1 to this issues. I'm seeing 4 renders exactly as @mariopeixoto describes. I've tried this both in dev and production modes and see the same behavior. I'd love to use suspense mode, but can't easily deal with the multiple renders issue.

[2021-02-14 16:05] #975 closed

[2021-02-15 18:22] payalord commented on #774
Any progress on fixing this or not yet? Thanks. Looks like for now then there is have to be done additional data structure validation then, to avoid unpredictable problems.

[2021-02-15 23:40] tupizz opened #981 "During `next build` -> ReferenceError: navigator is not defined"
# Bug report

## Description / Observed Behavior

Whenever I try to run `next build` in my project I got the following message:

[code]

I already tried to force the client side to render it only in the client-side, and therefore, correct the need of the `navigator` variable, but didn't work as well.

## Expected Behavior

When I run `next build` should build the project correctly.

## Additional

[2021-02-16 04:34] koba04 commented on #454
I've created a PR to fix this #979

[2021-02-16 04:51] huozhi commented on #981
@tupizz do you have a minimal repro example link to share?

[2021-02-16 06:23] underfisk commented on #943
I also agree with this, i have to enforce revalidateOnMount in my project and what happens is that each time the parent re-renders that child, it will fetch the data even though nothing has changed for that.
Not sure if there's an alternative where we could set revalidateOnMount to false and it would just fetch the first line or if the key changes (which in my case it doesn't) but @fermmm is corre

[2021-02-16 15:45] koba04 commented on #973
You can use `cache` for that, which is a cache store that SWR uses internally.

[code]

https://github.com/vercel/swr/blob/master/src/cache.ts

But I think it's not an API officially supported because `cache` is not documented, so you have to use it at your own risk.

[2021-02-17 05:57] mehthabux commented on #973
Does it persist in React native ?
My data should persist if  i restart the app

[2021-02-17 06:21] koba04 commented on #973
@mehthabux
You have to implement logic to persist cache data to anywhere ReactNative provides.
You can subscribe to changes in `cache` by the `subscribe` method.

[2021-02-17 06:24] mehthabux commented on #973
ok Cool , thanks @koba04
let me try 👍

[2021-02-18 14:00] mehthabux opened #986 "Cache getting revalidated when setting revalidateOnMount=false and setting initialData in useSWRInfinite"
I have already disabled revalidateOnMount in useSWRInfinite and im setting  the Initial data from Async Storage. Still the fetcher function is called.

[2021-02-18 19:36] em commented on #922
I would prefer that the API was less magical and didn't do things like support an async mutator functions in mutate so things like this didn't come up.

Typescript is a compromise and most "real" type systems would not allow this. It's Javascript thinking to allow a parameter to do all sorts of different things.

[2021-02-19 09:21] 4ndv commented on #590
Still an issue (at least for me) on 0.4.2. I want to refetch pages only when it's needed, but not when i'm loading a next page.

[2021-02-19 15:01] DaniGuardiola commented on #761
Same! In my case I `PATCH` a specific item (e.g. `PATCH /user/<id>`) that I want to refresh on a different view with all items and pagination (e.g. `GET /user?offset=20&limit=20`).

[2021-02-19 21:56] cyeb opened #991 "When using refreshInterval, requests are not deduplicated"
# Bug report

## Description / Observed Behavior

I wrote a hook containing useSWR and use it across multiple components. Requests are not deduplicated when providing `refreshInterval`. When I remove refreshInterval, requests are once again deduplicated.

## Expected Behavior

I expected SWR to deduplicate requests made by refreshInterval.

For example, if I provide `{refreshInterval: 1000}` in th

[2021-02-20 08:38] lynxtaa commented on #590
@4ndv, By now I've moved to [react-query](https://react-query.tanstack.com/guides/infinite-queries) which doesn't have these issues

[2021-02-21 09:01] #986 closed

[2021-02-21 09:01] mehthabux commented on #986
it was my mistake, This is working fine 👍

[2021-02-22 16:38] #454 closed

[2021-02-22 18:41] danielstocks opened #994 "Mutating state via onChange causes cursor jump to end of input"
# Bug report

## Description / Observed Behavior

I'm attempting to use the [following code](https://github.com/vercel/swr/issues/402#issuecomment-630426798) as suggested by @sergiodxa to mutate state while typing in a text input.

The mouse cursor does not maintain its position within the text input field (if placed anywhere except at the end) while mutating the state.

Controlling an input only

[2021-02-23 08:53] thattomperson opened #996 "refreshInterval doesn't work when refreshWhenOffline = false"
# Bug report

## Description / Observed Behavior
When using chrome, when `refreshWhenOffline: false` it appears that `refreshInterval` doesn't do anything
I've tested in chrome and firefox, firefox works as intended

## Expected Behavior

`refreshInterval` to work as documented

## Repro Steps / Code Example

https://codesandbox.io/s/busy-oskar-fsxky?file=/src/App.js

## Additional Context

SWR ve

[2021-02-23 08:57] thattomperson commented on #996
Seems related:https://bugs.chromium.org/p/chromium/issues/detail?id=678075

[2021-02-23 09:09] thattomperson commented on #996
It appears to be a bug with chrome and not swr directly

[2021-02-23 09:09] #996 closed

[2021-02-25 15:51] koba04 commented on #994
I've confirmed the behavior and it happens when we update a text value in `onChange` asynchronously.
It happens with `useState`, and the following is a minimum reproduction.
https://codesandbox.io/s/distracted-elion-htxt9?file=/src/App.js

As @danielstocks pointed out, this seems to be caused by #735 because it uses `await 0` to dedupe synchronous mutation calls.
If SWR supports the case to call t

[2021-02-26 01:27] #981 closed

[2021-02-26 17:31] hazae41 commented on #129
# Production-ready solution

[code]

## Example

Your fetcher gets an extra param `signal` (AbortSignal) before everything else

You can then pass it to your actual fetcher, for example `fetch`

[code]

Or use it to invalidate data afterwards

[code]

## Test with a timeout

[code]

[2021-02-26 21:49] dpacmittal commented on #176
You can use this package to make lazy requests with swr - https://www.npmjs.com/package/uselazyswr

[2021-02-27 11:01] EliasSchlatter commented on #858
@shuding @promer94 hey guys, I updated the [CodeSandbox](https://codesandbox.io/s/billowing-field-s8d11?file=/pages/api.js).

[2021-02-27 11:46] promer94 commented on #858
You should not mutate the original data from SWR.

[code]
Instead, you should use [immer](https://github.com/immerjs/immer) to make safe mutations

[code]

FYI
https://codesandbox.io/s/focused-allen-msrz6?file=/pages/index.js:1086-1199

[2021-02-27 21:43] optimista commented on #249
I did some research whether to implement [swr-firestore](https://github.com/nandorojo/swr-firestore) or not for an own personal project. This is what I concluded and some of the distinctive features which I found. Happy to discuss! I'm far from understanding everything.

[swr-firestore](https://github.com/nandorojo/swr-firestore)

- can listen to e.g. document's get()s across screens (getting same

[2021-02-28 19:30] darrenjennings commented on #141
I have thought about adding this feature to `swrv` (vue implementation) because right now we use a user-land hook to determine the enum, which uses data/error/isValidating. It is kind of annoying that it's not built-in to the main return value.

https://docs-swrv.netlify.app/features.html#useswrvstate

[code]

[2021-03-01 16:48] davidNHK commented on #781
Do any planning / instruction for fix it ?

i have a `useSWR` with options `refreshInterval: 10s`

and seem
[code]

[2021-03-03 10:20] 4ndv commented on #590
Well, for some reasons react-query is less userfriendly choice than swr. Maybe there is any way to fix this?

[2021-03-03 13:36] shuding commented on #337
Closing as this should have been fixed in #638.

[2021-03-03 13:36] #337 closed

[2021-03-03 13:43] shuding commented on #227
Would love to see your specific case! Closing for inactivity.

[2021-03-03 13:43] #227 closed

[2021-03-04 02:35] thang40 commented on #228
Is this issue still valid?

[2021-03-04 05:25] #228 closed

[2021-03-04 05:25] huozhi commented on #228
All assets (cjs, esm) output of swr are in es5 now. Thanks for reminding! @thang40

[2021-03-04 07:19] x-ray-s commented on #883
You can bind click events with the `setSize`  function, and in the `intersection-observer` callback You can trigger it with click event.

[2021-03-04 12:02] #994 closed

[2021-03-05 12:24] #906 closed

[2021-03-06 22:32] shuding commented on #141
Thanks for sharing @darrenjennings! I'll also add my 2 cents.

I love the idea, but enum is a bit annoying to me. What do you think about this proposal:

[code]

The good thing is that users don't need to import all the enums, and the editor will autocomplete.

---

The only concern for this status indicator idea is, since we are building these "high-level" states, their names have to be very clea

[2021-03-07 14:29] #858 closed

[2021-03-07 15:11] shuding commented on #172
@koba04 Love your idea and demo, the support of postprocessing is so great! I think we can implement this.

The main goal is to build tooling around SWR, because data fetching is not just getting the data. For example in our particular use case we made a logger function that wraps the fetcher, so every request will be logged with its status. I believe that many people have built things like that r

[2021-03-07 15:13] Svish commented on #172
Why would you need a complicated middleware feature for that though, if it's just a matter of making a wrapped fetcher function which does the logging?

[2021-03-07 15:50] shuding commented on #172
@Svish because that's not going to scale. The logger wrapper needs to be implemented differently for `fetch`, `axios`, `graphql`, ... And that's just 1 use case.

And also I believe this is not a "complicated feature", it's intuitive to me:

[code]

[2021-03-07 19:50] darrenjennings commented on #141
@shuding I like the naming of all 8 states! Even though it seems like it could grow exponentially, it does limit the guesswork on how many states your swr-dependent ui can devolve into*. Though we had some discussion [here](https://github.com/vercel/swr/discussions/440#discussioncomment-24095) around the ambiguity of the state names e.g. "what is 'error'?". I think it can mostly be explained to sa

[2021-03-08 15:12] bionicles commented on #742
Might be better to use the Cache API instead of local storage because it persists the data to apps installed locally on mobile devices, and it works inside WebWorkers https://developer.mozilla.org/en-US/docs/Web/API/Cache

https://caniuse.com/?search=cache

[2021-03-08 15:31] #742 closed

[2021-03-08 18:16] shuding commented on #991
Are you using a synchronous fetcher like the example you shared? It's indeed a bug but only reproducible with a sync fetcher.

By adding `async` to the fetcher: `async ()=> { console.log('hook function called') }` it works fine.

[2021-03-09 16:25] #947 closed

[2021-03-09 23:26] cyeb commented on #991
Yes, I was using a synchronous fetcher. Thanks for the workaround! Very helpful.

[2021-03-11 03:37] huozhi commented on #129
Does [config.isPaused()](https://swr.vercel.app/docs/options) work for your cases?

[code]

[2021-03-11 14:58] aej11a commented on #150
@shuding I'm also coming across this problem. Is there any newer recommended solution for this? Our use case is essentially making a generic fetching function which needs to be able to accept flexible variables, so the `passing primitive values as args directly` doesn't fit the use-case.

Maybe useSWR should deep-compare the input, just like it deep compares output? (possibly could be a config opt

[2021-03-12 05:36] ivan-kleshnin commented on #150
@aej11a I use https://www.npmjs.com/package/json-stable-stringify (4 Kb minified, non-Gzipped). Performance-wise it's the same. But I agree that custom compare function would be better given that it's typically already bundled (Lodash/Ramda/etc).

[2021-03-12 08:36] huozhi commented on #172
### Proposed API

[code]

### Usages

#### 1. Add auth token

[code]

This can help simplify the redudant array key use cases in useSWR when values in array are for fetcher only.

#### 2. Error reporting

[code]

#### Apply plugins / middlewares

[code]

or can be passed through context

[code]

[2021-03-12 08:45] sainhimanshu9 commented on #150
Hi @aej11a ,
i got the solution, you just need to make a custom hook where you need to pass all params and ( in that custom hook use query-string library) which will return you the query with all  params. hence as the params will change a new query string will be returned.
Mine is working now.

[2021-03-12 13:26] aej11a commented on #150
Thanks @ivan-kleshnin and @sainhimanshu9 , for now I'm using a workaround like this:
https://github.com/vercel/commerce/blob/master/framework/commerce/utils/use-data.tsx

In that hook, the variables input is deconstructed and values are used in the query key, and then the fetcher reconstructs the variables object. Seems to be working fine for now, but it's not perfect, so I think first-class libra

[2021-03-12 19:34] #172 closed

[2021-03-13 15:51] #976 closed

[2021-03-15 12:29] koba04 commented on #954
@GuichiZhao
With the `suspense` option, `useSWR` is expected to return data, otherwise, `useSWR` throws a Promise. To throw a Promise, `useSWR` has to invoke a fetcher function. So the current behavior makes sense for me.
Why do you want to avoid invoking a fetcher?

[2021-03-15 13:46] bobbyhadz commented on #192
Is there a good way to do this now?

Can we keep **wrong data** rendered until we fetch **right data**, `useTransition` style?

I.e. in pagination, it seems a very bad user experience to show the loading skeleton (the suspense fallback) between page transitions, I'd much rather display a loading spinner to indicate a transition is taking place.

I'm new to `swr`, so apologize if I'm missing someth

[2021-03-16 09:21] gfox1984 opened #1041 "Add an equivalent of React Query's useQueries hook"
There does not seem to be an equivalent of the React Query's [useQueries hook](https://react-query.tanstack.com/guides/parallel-queries#dynamic-parallel-queries-with-usequeries) in SWR.

Being able to run a variable number of queries in parallel using SWR and yet benefit from caching per individual items would be a big enabler. I know that I can use a custom fetcher with SWR which returns the Prom

[2021-03-16 17:28] ranisalt opened #1046 "Missing requestAnimationFrame after upgrading to 0.5.3"
# Bug report

## Description / Observed Behavior

After upgrading from 0.4.2 to 0.5.3, I now get the following error on a specific call of `useSWR`:

`TypeError: 'requestAnimationFrame' called on an object that does not implement interface Window.`

## Expected Behavior

It should load as it did before

## Repro Steps / Code Example

I don't know how to isolate this. Other calls work fine, this wo

[2021-03-16 17:34] ranisalt commented on #1046
I just tested that 0.5.2 works fine. The breaking call is [on this specific line](https://github.com/vercel/swr/blob/0.5.3/src/use-swr.ts#L571)

[2021-03-17 00:31] garyking opened #1047 "Next.js links on pages that use SWR do not work"
# Bug report

## Description / Observed Behavior

When SWR is used to fetch data on a page with links in Next.js, the links on that page do not work.

## Expected Behavior

The links should work.

## Repro Steps / Code Example

1. To reproduce, clone the repo here: https://github.com/garyking/test-next-js-app
2. Start with `next dev`, and open `http://localhost:3000/` in the browser.
3. On the hom

[2021-03-17 00:54] huozhi commented on #1046
@ranisalt Could you have provide some error trace or a minimal repro on codesandbox to help us identify the issue?

[2021-03-17 01:45] huozhi commented on #1047
I've tried to deploy this project mentiond above into codesandbox, it works fine with both clicking through links and opening a new page. codesandox is also using `next dev` as running script.

<img src="https://user-images.githubusercontent.com/4800338/111401871-19a8a100-8705-11eb-8419-eb2f3353daae.png" width="400">

[2021-03-17 01:45] #1047 closed

[2021-03-17 02:27] garyking commented on #1047
Removing `response.end()` from the API file fixed it.

[2021-03-17 15:15] Jonofat opened #1048 "Record pops up again after using bound mutate"
I am on version 0.4.2 of SWR and don't know if this is a bug (apologies if not) or if my implementation is just incorrect. Basically I am trying to perform an optimistic update and pop the row off from the UI straight away once it is clicked. This happens but then it pops back up again before the http request is complete and then vanishes once more afterwards. It should remain gone unless there is

[2021-03-17 21:46] shuding commented on #1048
Your first mutate call (optimistic update) doesn't have `false` as the second parameter, so it triggers a revalidation right after the mutation. Adding `false` should fix it:

[code]

[2021-03-17 21:53] shuding commented on #1041
Thanks for the detailed description! So the solution would be something similar to the impl. of useSWRInfinite, but requests are fired together instead of paginated.

Happy to add it if someone comes up with a PR, I think `useSWRList` would be a nice name. 👍

[2021-03-18 21:31] tehpsalmist opened #1050 "Illegal Invocation"
# Bug report

## Description / Observed Behavior

The code below is producing a `TypeError: Illegal Invocation` when the same key is passed to useSWR.

## Expected Behavior

Not to throw an illegal invocation error.

## Repro Steps / Code Example

 Run the code, then simulate by typing in some letters and backspacing.

[code]

## Additional Context

SWR version: 0.5.3
React/ReactDOM: 17.0.1
Can't

[2021-03-18 21:58] pksorensen commented on #450
Similar problem i have: https://stackoverflow.com/questions/66699292/where-to-calculate-groups-for-fluentui-detaillist-in-nextjs

In fluentUI i want to calculate another state "groups" for a DetailedList based on returned data from swr, but then when user changes some state (similar to the input example) it then refetches with swr and then it recalculate the groups and i end up with revering the u

[2021-03-19 01:29] koba04 commented on #1050
@tehpsalmist Could you create a GitHub repository for reproducing this?

[2021-03-19 01:30] tehpsalmist commented on #1050
Most definitely, I should have done that first. Uno momento.

[2021-03-19 01:54] tehpsalmist commented on #1050
Reproduce with this repo: https://github.com/tehpsalmist/illegal-invocation-bug

[2021-03-19 03:53] huozhi commented on #1046
This issue is highly like #1050 but the error message looks slightly different. @ranisalt can you provide any information about the browser you're using? then would be easy to check if they're caused by the same root cause.

[2021-03-19 04:24] ranisalt commented on #1046
Firefox 86 with the same Parcel 2 bundler they use in #1050

I highly suspect Parcel to be the culprit as today we had an instance of missing exports in the bundle, it's not the first (nor the second, nor the third...) time and we gave up, moved to Webpack and it was fixed. I need to try swr 0.5.3 tomorrow.

[2021-03-19 04:55] huozhi commented on #1046
Thank you, I can confirm they're the identical issue with different output from different JS engine now. I'll close this as duplicate of #1050

[2021-03-19 04:55] #1046 closed

[2021-03-19 09:14] #1050 closed

[2021-03-19 09:25] promer94 commented on #1041
I think we could use the global mutate function to cache the each item based on their key.

[code]

FYI: https://codesandbox.io/s/swr-list-xw58t

[2021-03-19 12:31] #728 closed

[2021-03-19 12:36] #666 closed

[2021-03-19 12:44] #586 closed

[2021-03-19 12:48] tehpsalmist commented on #1050
Noice. You can venmo me the bug bounty. :trollface:

[2021-03-19 13:05] #593 closed

[2021-03-19 13:14] huozhi commented on #390
Recommend to use `SWRConfig` provider to configure global config, and you can override the specific config option per hook. Default config value is also exposed as `SWRConfig.default` in swr@0.5.3.

[2021-03-19 13:14] #390 closed

[2021-03-19 13:15] #707 closed

[2021-03-19 13:21] nandorojo commented on #1041
We'd also want to catch errors for each key individually, so that some calls can fire even if others aren't ready. If the first request's key throws an error, the others should still fire.

[2021-03-19 13:29] huozhi commented on #288
`isDocumentVisible` returns true when page is not visible. It's ok to customize your own `onErrorRetry`

[code]

This workaround is available in swr@0.5.3

[2021-03-19 13:29] #288 closed

[2021-03-19 13:35] #700 closed

[2021-03-19 13:39] huozhi commented on #471
Close this as it's more like a react native runtime issue

[2021-03-19 13:39] #471 closed

[2021-03-19 13:49] #213 closed

[2021-03-19 20:59] olvert commented on #284
I also ran into this problem and used the workaround from @danielrbradley which worked great. It uses some deprecated types though which I had to update. My version ended up looking like this:

[code]

[2021-03-20 00:37] ssorallen commented on #451
@nfantone RE: 2. in your list, the issue seems to be documented in https://github.com/vercel/swr/issues/751

If you call `mutate` on a key when there are no mounted components with a `useSWR` for that key, then `mutate` is effectively a no-op. I ran into this and ended up manually clearing the cache for that specific key as well. There is no fetcher to go do the re-validation when a `mutate` is ca

[2021-03-20 14:37] stefanbugge opened #1056 "Concurrent requests (suspense) with same response data will remain pending and causes an infinite request loop"
# Bug report

## Description / Observed Behavior

Thank you for a great library!

I am rendering a list of components each using swr internally in suspense mode. Each component fetches data with different urls and the response data may result in structurally equal response data (which seems to be the key issue when fetching concurrently).
The initial load will be successful for all requests, but t

[2021-03-20 22:05] promer94 commented on #1056
Thanks for your detailed repro. It's really helpful !
I think it is related to #907

[2021-03-21 20:01] steven-mercatante commented on #943
I'm running into this too. The headless CMS I'm using has a race condition, and I only want to revalidate manually via `mutate` calls.

I'm using this in a Next app, and could probably seed the `useSWR` call with initial data fetched from `getServerSideProps`, but that seems like many hoops to jump through for something that I think should be more straight-forward.

[2021-03-22 01:53] promer94 commented on #922
#1003 fixed this problem.

[2021-03-22 09:48] #922 closed

[2021-03-22 17:24] #1056 closed

[2021-03-22 21:02] YuriGor opened #1062 "swr swallows invalid json error giving undefined instead"
# Bug report

## Description / Observed Behavior

There is a bug in nextjs/api:
https://github.com/vercel/next.js/issues/21749
So when due to this bag swr receives empty response instead of valid json - it gives data `undefined` in useSWR.
e.g. on backend in API I am doing `res.json(null)`
--> nextjs produces invalid empty response instead of valid json `null`
--> SWR receives invalid empty respon

[2021-03-22 21:08] YuriGor commented on #1062
sorry, it actually gives correct error, it was me not checking it properly.

[2021-03-22 21:08] #1062 closed

[2021-03-22 22:05] sebastienlabine commented on #141
Please implement this. At least for inital data fetching. It's so annoying to work with !data & !error on a component level. The simplest use of the SWR result require to handle undefined cases all the time.

For example, I can't do this without handling the data= undefined case
[code]

and I can't use this case because I don't have access to the loading state.

[code]

[2021-03-24 00:23] payalord commented on #774
Same problem happened with useSWR too, when `null` passed as key, sometimes it returns `{ originalData: undefined, force: false }`. In our case it happened when we correctly switched to the right page from another in react app.

[2021-03-24 22:05] pke commented on #637
Encountered the same today! Where might it come from?

[2021-03-25 11:50] gmukul01 commented on #580
@ernestofreyreg I am also getting the same issue, could you please let me what is the solution?

[2021-03-26 02:53] jacklimwenjie opened #1070 "Bound mutate based on current data inconsistently update data"
# Bug report

## Description / Observed Behavior

When using [mutate based on current data](https://swr.vercel.app/docs/mutation#mutate-based-on-current-data) in a [bounded fashion](https://swr.vercel.app/docs/mutation#bound-mutate),
and the data contains an array,
sometimes the data is _not_ updated.

## Expected Behavior

The data is updated consistently when a bound mutate based on current data

[2021-03-26 06:37] demidyuk opened #1071 "useSWR fails with {onError: undefined} in unsuccessful case"
# Bug report

## Description / Observed Behavior

I faced with useSWR failure in an error case with  providing the `onError` prop as undefined. After unsuccessful fetching from the endpoint useSWR throws an internal error.

## Expected Behavior

Providing `{onError: undefined}` should not affect anything, as it does without the `onError` property.

## Repro Steps / Code Example

Example of failure

[2021-03-26 07:58] promer94 commented on #1070
Thanks for your repro !

ts set ------------------> ts cleared
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;read ts----------------> read ts

1. When data is fetched, ```CONCURRENT_PROMISES_TS``` is set
2. ```CONCURRENT_PROMISES_TS``` will be cleared in 2s (dedupingInterval default)
3. If user mutates before ```CONCURRENT_P

[2021-03-26 14:42] huozhi commented on #1071
Could you change the `undefined` case to an empty function `onError() {}` as we'd like to specify the callback types as function, to skip from various invalid user input types like `null` / number / object etc.

[2021-03-26 23:54] coderdix commented on #227
I'm having the same issue. I'm using graphql-request and pass the variable queries as my key argument with the swr hook. The key value is essentially the query getting the user object from strapi (as my cms) and provides a list of objects (businesses in this case) that I have a button to delete from. When clicking the button I'm using a RESTful call to delete the object which upon a successful res

[2021-03-27 02:07] #1071 closed

[2021-03-27 02:24] promer94 commented on #991
The reason why the requests are not deduplicated is because the sync fetcher returns undefined.

https://github.com/vercel/swr/blob/eb7fa36920fa5eaca5d68a61ece6eabe54c64907/src/use-swr.ts#L367-L368

[2021-03-27 09:46] promer94 opened #1074 "Cache cant be changed if mutating happened before SWR fetching"
# Bug report

## Description / Observed Behavior

when mutating with async function, if async function resolved after the fetcher, the swr cache can't be changed by mutate or fetcher

## Expected Behavior

when mutating with async function, the fetcher result should be ignored.

## Repro Steps / Code Example
https://codesandbox.io/s/swr-mutate-bug-eujb4?file=/src/index.tsx

## Additional Context

[2021-03-28 07:57] #387 closed

[2021-03-28 07:57] #463 closed

[2021-03-28 07:57] #789 closed

[2021-03-28 10:26] coldhu opened #1078 "Add revalidate() to the api return values"
const { data, error, isValidating, mutate } = useSWR(key, fetcher, options)

Also **_revalidate_** should be added to "Return Values", or is it not recommended to use?

[2021-03-28 10:53] shuding commented on #1078
`revalidate` was deprecated and it’s not recommended anymore. You can call `mutate()` without any arguments to do the exact same thing.

If you are seeing that API mentioned somewhere could you please let me know?

[2021-03-28 10:53] #1078 closed

[2021-03-28 13:12] #1070 closed

[2021-03-28 13:12] #1074 closed

[2021-03-28 15:04] mAAdhaTTah commented on #952
@koba04 If you're concerned about file size, you could provide a `swr/testing` module to export them through so they don't get included as part of the main bundle.

[2021-03-28 15:54] vinay-deshmukh opened #1082 "Manually triggering new requests"
In my application, I don't want `useSWR` hook to automatically call the fetcher function. I want to call it in one of my event handlers.

## What did you try?

- I tried setting `refetchOnMount` as false, but then on the next render, the fetch request happened anyway.

- Tried making `isPaused()` return true always, but this means `mutate()` calls also don't work.

##Expected behaviour

Flag/boole

[2021-03-29 04:01] promer94 commented on #1082
currently you could use ```isPaused``` to build a customized hook.

[code]

FYI: https://codesandbox.io/s/control-swr-vf9gu?file=/src/App.js

[2021-03-29 05:17] vinay-deshmukh commented on #1082
I actually don't want to start/stop the hook. I just need a stable mutate callback that will retrigger the fetching.

I tried showing a loading message using your hook, but it seems your hook is eternally in a loading state for some reason, until I call button.

![image](https://user-images.githubusercontent.com/32487576/112789853-a9dad480-907b-11eb-8c62-2105c358affd.png)
I added that line and you

[2021-03-29 14:06] lukeshumard commented on #738
I've spent a little bit of time playing around with this, also inspired by @pacocoursey's blog post. His approach is a very eloquent and simple solution, but it is important to consider what using `null` as a fetcher means.

Here's my `useSharedState` hook based off of @shuding's [suggestion](https://github.com/vercel/swr/pull/918#issuecomment-764889331).
[code]

In use, it looks like this.
[code]

[2021-03-29 22:13] damusnet opened #1083 "useSWR with Suspense remains in loading state when response data is identical"
# Bug report

## Description / Observed Behavior

When using suspense mode, if two API calls with different urls return the same data, the component remains in a loading state.

## Expected Behavior

The component should update to reflect the new data, even if it's identical to the previous data.

## Repro Steps / Code Example

https://codesandbox.io/s/recursing-williams-lsh4m?file=/pages/index.js

[2021-03-30 01:28] promer94 commented on #1083
Thanks for your detailed repro.
This bug is a duplicate of #1056.
It has been fixed in #1058

[2021-03-30 02:04] damusnet commented on #1083
Oh, great, thanks!
Sorry for the duplicate, I only looked through the open issues 😅

[2021-03-30 02:04] #1083 closed

[2021-03-30 03:51] promer94 commented on #1041
@nandorojo Hi, would you mind check the codesandbox again. I have updated the example.
[code]

I feel like this pattern might be batter then  useQueries hook. It only rerenders onces when all data resolves.
useQueries hook will rerender much more times than useSWRList which might cause unexpected layout shift or bad performance

[2021-03-30 10:30] xu3u4 commented on #943
I agree this is not an expected behavior for `revalidateOnMount`.
https://github.com/vercel/swr/blob/master/test/use-swr-integration.test.tsx#L48
Looks like the test also expects no fetching is made if `revalidateOnMount: false`.
Does anyone know why?

[2021-03-30 12:21] payalord commented on #774
Is it possible that since if both `useSWRInfinite` and `useSWR` used at the same time in the project. Then they can interfere together for the `null` cached key? For example `useSWRInfinite` saved data with structure `{ originalData: undefined, force: false }` for some data where there was no key, so with `null` key. Later on `useSWR` tried to get the data from the cache with `null` key and return

[2021-03-30 20:57] fermmm commented on #943
I was using that workaround but has some limits, if you change the key it returns the same cache, to fix it you can add a useEffect to mutate() when the key is different but then you can't have a cache for each key, this translates into more requests to the server in that case

[2021-04-02 18:59] payalord commented on #774
`originalData` is renamed with latest updates to just `data`. So now, I have updated my previous comments. So junk data will be now `{ data: undefined, force: false }`. I have checked source code. This problem might be happening with `useSWR` function,  because both functions `useSWR` and `useSWRInfinite` using same shared `cache`. Which is wrong, because real world complex projects can use both o

[2021-04-02 19:02] payalord commented on #774
So the solution or for both functions is to have one structure of `data` to store in this one shared `cache`. So both functions can read it and return the right appropriate values. Or use separated `cache`.

[2021-04-02 19:07] payalord commented on #774
Maybe even better to create a `type` for data to be stored in `cache`. So you can't store in the `cache` any kind of data structure. Let say `cache` will accept always this only `{ data<any>, force<boolean> }`. Something like that. And `useSWR` function need to be updated then too.

[2021-04-03 11:44] gaoxiaoliangz opened #1093 "If revalidateOnFocus and suspense are used together, when an error occurs onfoucs listeners are never cleaned up"
# Bug report

## Description / Observed Behavior

If revalidateOnFocus and suspense are used together, when an error occurs onfoucs listeners are never cleaned up

## Expected Behavior

When errors are caught in error boundary, onfocus listeners are cleaned up, a page refocus never triggers a revalidation.

## Additional Context

SWR version: 0.5.5

[2021-04-03 12:48] promer94 commented on #1093
Hi, could you please provide a codesandbox repro ?

FYI: https://codesandbox.io/s/suspense-focus-5c0zf?file=/src/App.js
This seems works

[2021-04-03 13:40] shuding commented on #934
@kamami do you mean that `data` is `undefined` in the first render? That is the expected loading state.

[2021-04-03 20:16] nicholaschiang opened #1095 "Resource preloaded was not used by SWR"
# Bug report

## Description / Observed Behavior

When using `<link rel='preload' />` prefetching, the following warning occurs in Mozilla Firefox 87.0 (on Pop_OS! 20.04):

## Expected Behavior

SWR should use the prefetched data and that warning should not occur. I'm guessing that the reason why the data wasn't used by SWR is because I'm using `axios` (which, in turn, uses `XMLHttpRequest`) in my

[2021-04-04 08:34] #991 closed

[2021-04-04 08:38] shuding commented on #936
FYI you can pass `null` as the first argument to `useSWRInfinite` and it will pause data fetching. Can you provide a reproduction?

[2021-04-04 08:38] #936 closed

[2021-04-04 09:04] shuding commented on #954
This is more like a question, I'll move it to discussion.

When all revalidations are off with suspense enabled, what's your expected `data`? If you don't want to block rendering with data fetching, I can't think of a good reason to enable suspense.

[2021-04-04 09:05] #954 closed

[2021-04-04 10:11] mikestopcontinues commented on #308
Is there any movement on this issue?

[2021-04-04 16:10] #637 closed

[2021-04-04 16:10] #774 closed

[2021-04-04 16:52] pke commented on #637
Thanks for the fix

[2021-04-05 18:42] smddzcy commented on #828
Any workaround for this? It's really important to be able to cache some requests with long `dedupingInterval`s, but also mutate them when required (e.g. after the user updates some setting on another page).

[2021-04-06 06:52] florianmatz commented on #781
Anything new regarding this issue? Had the same problem in my last tests and it's quite difficult a.) to debug and b.) find a solution. At least there should be a hint in the packages documentation.

[2021-04-06 07:01] shuding commented on #781
We are addressing these issues (better testing support) in #1017, it’s still WIP but any feedback is welcome!

[2021-04-06 10:45] harutofujihara commented on #662
@wobsoriano
Isn't this only revalidate on inside `mutate()`?

[2021-04-07 02:52] transitive-bullshit opened #1112 "Issue using swr in webpack 5"
# Bug report

## Description / Observed Behavior

Using Next.js `10.1.3` with webpack 5 enabled via: `future: { webpack5: true }` added to `next.config.js`, I get the following error when trying to use `swr`:

[code]

Here is the original TS code that is causing this issue: https://github.com/transitive-bullshit/react-static-tweets/blob/master/packages/react-static-tweets/src/tweet.tsx#L21

## Exp

[2021-04-07 03:29] huozhi commented on #1112
@transitive-bullshit can you provide a static and minimal repro (maybe a codesandbox) for this issue? would be easier to diagnose the root cause. I tried cloning / running the example locally, get the totally different error message. I see you are still pushing to the codebases.

[2021-04-07 10:53] shuding commented on #1112
Hi @transitive-bullshit could you please try `swr@beta`? We are using Webpack 5 and SWR (tested both latest and beta) in production and they work fine. We will investigate the error you shared.

[2021-04-09 00:54] MoonBall commented on #828
@lorenzomigliorero @smddzcy I made a demo https://codesandbox.io/s/relaxed-hooks-chjyi?file=/src/App.js.
I didn't reproduce this issue. PTAL

[2021-04-09 20:47] tomevans18 commented on #943
This really threw me too, the docs don't allude to this setup either.

From the way the docs read, it would prevent a refetch on mount, effectively making the setup cached first.

Seems a bit of a pointless option as initialData also forces this behaviour too.

[2021-04-12 12:34] plaa commented on #325
I think this example specifically demonstrates incorrect usage as explained here https://swr.vercel.app/docs/arguments#multiple-arguments

For caching to work properly, the fetcher method must be pure (insofar as the corresponding server API is), and the authentication information should be passed in the key. The example's fetch method changes behavior depending on cookies, and thus the caching wi

[2021-04-12 12:37] plaa commented on #161
@sergiodxa  Page reload is not possible in a React Native app.  😀

I was surprised the documentation didn't cover this.  I would have expected it to be at the bottom of the Mutation page which deals with cache updates anyway.

This also simplifies handling authentication, as you can just clear the cache every time authentication changes. In this case the fetcher method can obtain access tokens its

[2021-04-12 21:17] shuding opened #1122 "Use slow connection mode when `navigator.connection.saveData` is enabled"
We are already considering cases like 2g network here: https://github.com/vercel/swr/blob/69ec9df931e4ca84b70104f414ccba6c2a82ec20/src/config.ts#L45 just need to consider the data saving mode to the same place.

Ref: https://developers.google.com/web/fundamentals/performance/optimizing-content-efficiency/save-data

[2021-04-13 01:57] elias94 commented on #1041
@promer94 Thanks for the code. I tested your codesandbox adding a `console.log(id);` inside `/api/users/[id].ts` and it printed every time the user id. So the request to the API is done every **reload**.

If I'm not wrong, is because, mutate performs a  refetch in any case, without testing if the content is cached inside SWR.

I did a small edit and seems performing the request the first time (or

[2021-04-13 07:43] elias94 commented on #1041
@promer94 Hi, thanks for the solution. It seems resolving the case.

Just to keep in consideration for the PR, in my case I didn't need to `mutate` the entire list but just fetch every time the array changes and a new request should be performed.

So in my case I modified the function like this
[code]

[2021-04-13 09:30] joebartels commented on #943
I agree with everyone in this thread. I was banging my head trying to get the same config that @fermmm is looking for.

It seems sensible to me that `revalidateOnMount: false` should do an initial fetch when cache is empty for the given key.

Or if there is a good reason for the current `revalidateOnMount` behavior then I may suggest a `singleFetchMode: true` config option that gives the behavior

[2021-04-13 10:13] plaa opened #1123 "Documentation of onErrorRetry is wrong"
# Bug report

## Description / Observed Behavior

The example in https://swr.vercel.app/docs/error-handling#error-retry calls revalidate with `{ retryCount: retryCount + 1 }`.  However, it seems that `retryCount` is automatically increased before calling `onErrorRetry`.

If you log `retryCount` in the above example, you get `1, 3, 5, 7, ...`.  If you remove the `+ 1` then you get `1, 2, 3, ...`.

[2021-04-13 10:41] shuding commented on #1112
Closing this due to https://github.com/transitive-bullshit/react-static-tweets/issues/23#issuecomment-818619457.

[2021-04-13 10:41] #1112 closed

[2021-04-13 18:37] smddzcy commented on #828
Because the prop is not `dedupingTime`, it's `dedupingInterval`. See: https://codesandbox.io/s/summer-waterfall-7j93r

[2021-04-13 20:13] shuding commented on #943
Yeah I've been thinking about this too, that's why I opened #992 specifically for this case: don't fetch if cached.

I will try to add it in 1.0 soon, it would be great to hear more community feedback for it.

[2021-04-14 08:39] thiagoconnectcom commented on #376
can you put here the way you used to solve?

[2021-04-14 09:50] tomaszczura opened #1124 "Problem with conditional, multiple useSWRInfinite on version 0.5.x"
# Bug report

## Description / Observed Behavior

# Bug report

## Description / Observed Behavior
I have code, which uses three `useSWRInfinite` to load data from three endpoints. Loading each next data type depends on the previous typoe response. It has some kind of flag, which indicates, if the next data type should be loaded:

[code]
This worked well for me when I in version 0.4.x. But when I

[2021-04-14 18:03] #1123 closed

[2021-04-16 03:34] MoonBall commented on #828
I would like to fix it ASAP

[2021-04-16 04:15] andykao1213 opened #1125 "onSuccess works unexpectedly when there is multiple hooks with the same key."
# Bug report

Firstly, I want to thank for your hard work on swr. It is an amazing library which helps me a lot of my every day work!

## Description / Observed Behavior

I am trying to use the same key in different hooks as follow:
[code]
The callback `onSuccess` wasn't triggered. But I found that if I put a callback in the hook in `ChildComp`. The callback in the child fired but not the one in t

[2021-04-16 06:37] promer94 commented on #1125
Thanks for you repro !

This is expected behavior.  SWR will deduped the requests with the same key in a short period by default (2000ms)

1. Child Component mounted and fetcher fired, then call the onSuccess callback
2. Parent Component will reuse the request created by child component. The fetcher in parent will not fire, so the onSuccess won't be called.

FYI: https://codesandbox.io/s/onsuccess

[2021-04-16 15:59] zeing commented on #375
I try on 0.5.5 , it doesn't work
https://codesandbox.io/s/swr-test-forked-px3cl?file=/src/App.js

[2021-04-16 23:33] droplab commented on #523
Nice one @ties-v. I came up with a similar approach, i guess this kinda violates the rfc spec SWR is built on but this would be a sensible default behaviour in or at the very least a config option IMHO.

[2021-04-17 06:06] andykao1213 commented on #1125
@promer94 Thanks for the reply. I misunterstook the mechanism of `onSuccess`. It now make sense to me. I'll close the issue. Thank you!

[2021-04-17 06:06] #1125 closed

[2021-04-17 15:08] Tak-Iwamoto commented on #1122
@shuding
Can I try this?

[2021-04-17 16:22] RobbyUitbeijerse commented on #192
@bobbyhadz I would consider the solution provided by @isBatak 'good enough' in a sense that it works, but it would indeed be a great feature to have withint SWR itself.

My current situation is as follows:

1. On the server (in the build pipeline) I'm getting both items and filters - both returned by a single endpoint
2. I'm passing the data through initialData to hydrate the SWR cache and render

[2021-04-18 05:23] ChangJoo-Park opened #1129 "Error on example "autocomplete-suggestions""
# Bug report

## Description / Observed Behavior

What kind of issues did you encounter with SWR?

Example autocomplete-suggestions not working on my environment. it has problem with useLayoutEffect.
I think it cause by @reach/combobox. but I did not find why it is.

I made [sandbox](https://codesandbox.io/s/exciting-haze-ej4vd) for this issue. I works well.

[code]

## Expected Behavior

How did

[2021-04-18 10:04] shuding commented on #1122
@Tak-Iwamoto yeah feel free to take it.

[2021-04-20 04:21] nicholaschiang commented on #1095
@shuding Is this the case then? Should I not include the `<link rel='preload' as='fetch' />` then? From [the MDN docs](https://developer.mozilla.org/en-US/docs/Web/HTML/Preloading_content#what_types_of_content_can_be_preloaded), it seems that such tags would also be used for `XMLHttpRequests` as well as the `fetch()` API so this should work:

[2021-04-20 17:12] PMudra opened #1131 "Passing an updated fetcher method has no effect"
# Bug report

## Description / Observed Behavior

Passing an updated fetcher method to `useSWR` has no effect. The initial version of the fetcher will be used.

I am passing a fetcher function to `useSWR` that is updated by applying a new access token.

[code]

When I call `setAccessToken("valid-1")` at some point (and revalidate), the output will still be `"fetch with token: valid-0"`.

## Expect

[2021-04-22 10:13] ismay commented on #176
To me this does not really resolve the issue. I know that technically this addresses the feature request, but it doesn't seem like an officially supported solution to me. All I see in the docs for mutate is references to mutating data (which makes sense), not lazy fetching.

The fact that it can be used for lazy fetching seems more like an implementation detail to me than an offically supported pa

[2021-04-23 11:46] #1122 closed

[2021-04-26 02:36] promer94 commented on #828
This problem is a duplicate of #751

You could update the cache data in this way
[code]

[2021-04-26 10:42] smddzcy commented on #828
@promer94 fetch function is already provided in the global provider, why do we have to give the 2nd parameter here again? besides, IMHO this is not a good API, the global mutate function should just clear the cache when it's called, and as soon as a component that needs this resource is mounted again, it should re-fetch the data.

[2021-04-26 14:14] kylemh commented on #828
I think he was merely providing a workaround, not saying this isn't a bug.

[2021-04-26 14:58] promer94 commented on #828
The global mutate function lives outside the react component but you could only access the global fetcher from the SWRConfigContext. So you have to tell mutate how you would like to change your cache.

The global mutate function does two things
* It will update the cache based on the second parameter
* It will update the mounted hook with the latest cache data and force it to revalidate the cache

[2021-04-26 15:38] kylemh commented on #828
If I use bound mutates, I opt into renders/fetches in areas where I might not need it. I actually usually avoid bound mutates for this reason.

@promer94 the problem is even if I set the 2nd argument, nothing changes if a relevant SWR hook isn't mounted... UNLESS the interval has passed. I think it would make sense to have mutate clear the interval so that the next time a relevant component mounts

[2021-04-26 19:39] tons613 commented on #981
Any solution to this?

[2021-04-26 22:04] shuding commented on #981
@tons613 Which version are you using?

[2021-04-27 01:46] promer94 commented on #828
@kylemh
Could you provide a codesandbox to reproduce this problem ? It would be really helpful.

[2021-04-27 03:17] MoonBall commented on #828
The `mutate()` has the third param `shouldRevalidate`, But calling `mutate('key', undefined, true)` doesn't clean previous request result. I think it is the root cause of this issue.

Although there is no mounted hook, we can simply delete the previous request result. It seems like that the `revalidate()` has happened for specific key.

[2021-04-27 04:41] kylemh commented on #828
I ran into a bug making the repro 😅  https://github.com/codesandbox/codesandbox-client/issues/5704

I'll get it to you as soon as I can.

[2021-04-27 07:48] MoonBall commented on #828
I have a better a design idea for `shouldRevalidate` parameter. This parameter should be used to revalidate specific key  rather than mounted hooks.

[2021-04-28 14:20] mikefrancis opened #1147 "Removing cookie in example triggers infinite redirect loop"
# Bug report

On the CodeSandbox for the [authentication example](https://swr.vercel.app/examples/auth), when removing the cookie (or changing the value) in DevTools to simulate being logged out by expiry, and then refocussing the window, the app goes into a redirect loop.

I'm not sure if this is a bug with SWR or the example, but I'm having the same problem with my app so would be great to get t

[2021-04-28 16:53] promer94 commented on #1147
In the codesandbox, logout consists of three steps.

* clear the cookie
* clear the user info by ```mutate(null)``` then do revalidation without the cookie
* navigate to home

if you remove cookies from devtool and then focus the window.
It will revalidate and throw the error.
But it will not clear the user info.
So we miss the step 2.

For the index page, it would check the user and redirect to d

[2021-04-28 17:38] mikefrancis commented on #1147
@promer94 Your sandbox does indeed solve the problem, thanks, so looks to be a problem with the example.

[2021-05-03 13:42] alimertcakar opened #1151 "Clear cache or mutate all keys react native?"
Fresh install with swr and expo: [Repo](https://github.com/alimertcakar/useSwrBugReport1)

I open the app see the data:
![image](https://user-images.githubusercontent.com/56369392/116883336-2e49e580-ac2e-11eb-9b2b-3ee7d52d80c7.png)

Then I go to mockapi and add some more mock data:
![image](https://user-images.githubusercontent.com/56369392/116883441-47eb2d00-ac2e-11eb-975e-615e8ceb2da4.png)

I pr

[2021-05-04 03:31] nicholaschiang commented on #1095
@shuding I just switched over to using the native `fetch` API like so:

[code]

And Firefox still gives me this warning that the resource preloaded wasn't used within a few seconds. Does this work on Firefox?

[2021-05-04 16:18] mark-dr opened #1152 "Bug: onErrorRetry is not de-duped"
# Bug report

## Description / Observed Behavior

When I have multiple mounted components using `useSWR` over the same key, and the fetcher throws an error, `onErrorRetry` is called once per component, each starting a separate retry loop. This is true whether using a custom `onErrorRetry` or the default one.

Consequence: If the `onErrorRetry` waits for a non-deterministic time before triggering r

[2021-05-04 19:19] shuding commented on #1124
This issue should have been fixed in #1096, which was released in the beta version. Please give it a try by upgrading with `yarn add swr@beta`!

[2021-05-04 19:27] shuding commented on #1124
If you are still seeing an issue, please consider creating a reproduction with this template: https://codesandbox.io/s/jolly-breeze-igcq9 (or a similar demo) that I can look into.

[2021-05-04 19:27] #1124 closed

[2021-05-04 19:30] shuding commented on #1151
With our new Cache API, you should be able to provide your own cache like this https://github.com/vercel/swr/blob/master/test/use-swr-cache.test.tsx#L47-L53

And you can manually clear the cache. It's not documented yet but you can upgrade to the latest `swr@beta` to try it out!

[2021-05-04 19:35] shuding commented on #1131
Changing `fetcher` during render might cause unexpected behavior, so it will be ignored and won't trigger a refetch. This is simply because people can pass e.g. anonymous function as the fetcher that will be re-declared on every render. In SWR, `key` is always the identifier of the resource.

[2021-05-05 19:55] baer commented on #258
@nulladdict it's been ~1y and SWR has come a long long way. For whatever part you played in that, thank you! There are now several ways to handle the above using SWR's [options](https://swr.vercel.app/docs/options#options) either globally or on a per-key basis. Specifically:

- `refreshInterval` can be used as a pseudo `maxAge`
- `revalidateOnFocus`/`revalidateOnReconnect` could be used to handle

[2021-05-06 03:38] shuding commented on #258
Worth mentioning: we’re also landing this custom cache feature #1017 in 1.0, in which you can control the cache behavior by yourself.

[2021-05-06 03:38] #258 closed

[2021-05-07 10:46] nstepien opened #1155 "TS: global mutate() is not generic"
# Bug report

## Description / Observed Behavior

I cannot set a generic type to `mutate()` calls.

## Expected Behavior

I should be able to set a generic like so:

[code]

## Repro Steps / Code Example

[code]
[code]

## Additional Context

SWR version: 0.5.6
I had tried fixing it in #1069 but it looks like things have changed since then. 😔

![image](https://user-images.githubusercontent.com/567

[2021-05-07 15:29] PMudra commented on #1131
I agree that a changed `fetcher` should not trigger a refetch. What I expected is that the next refetch uses the latest `fetcher` I have passed to the hook.

Passing the token as a `key` to the hook looks promising at first thought. But that would lead to an immediate refetch of all resources which I do not want. The data hasn't changed. Just the way to get it (the next time I need it).

[2021-05-08 01:22] nicholaschiang opened #1156 "Cannot use global mutate with useSWRInfinite"
# Bug report

## Description / Observed Behavior

There is no way to mutate data fetched with `useSWRInfinite` without first fetching the data client-side. I saw [this answer](https://github.com/vercel/swr/pull/435#issuecomment-658219974) by @shuding and it definitely works, but it triggers a fetch when all I want to do is mutate data (if it has already been fetched).

## Expected Behavior

Instea

[2021-05-09 10:21] Gyllsdorff commented on #1131
➕1 on that. FWIW; I know several developers that didn't understand that the fetcher instance that was *first* used as the [fetcher for that set of keys (and component?)](https://github.com/vercel/swr/blob/0.5.6/src/use-swr.ts#L530-L534) will be used for all/most subsequent request (for that set of keys).

Is it possible to add some information about this to the [Data fetching](https://swr.vercel.a

[2021-05-09 10:48] #1155 closed

[2021-05-14 04:38] ivan-kleshnin commented on #1131
And how to refetch certain key with new params? I tried `cache.delete(key)`, `mutate(key)`, tried to change fetching function like @PMudra – nothing helps 😞

When that may be necessary? Fetching indexes with different filters, sorting, pagination. By using different keys tons of index data is accumulated in memory and its hard to clear it up in a library-level code (where you don't know those fetc

[2021-05-18 06:21] alizahid commented on #1156
I'm using SWR on my Next.js and React Native apps, and while I might be able to pass `mutate` between components in Next.js, I can't do the same on React Native, because my mutator is on another screen, and React Navigation doesn't allow functions to pass between screens.

What's the workaround for this? Without having to reload everything every time?

[2021-05-19 03:36] jrwpatterson commented on #127
@sergiodxa any news on that release I'm currently fighting that same battle using Orval to codegen the react query

[2021-05-19 05:20] sergiodxa commented on #127
@jrwpatterson I never got permission from the company to open source it, and I have already left that company 😞

[2021-05-20 10:53] talkl opened #1168 "useSwrInfinite with react-infinite-scroll-component | after changing fetch key -> current index does not reset"
# Bug report

userSwrInfinite + react-infinite-scroll-component bug

## Description / Observed Behavior

I have react-infinite-scroll-component with useSwrInfinite integration. I also have an input to search by name the api. if i'm beyond page 1 and do a search (thus changing the useSwrInfinite key), useSwrInifinite will start searching serially all pages until the current page i am 1...N.
It's in

[2021-05-20 10:55] talkl commented on #1168
@nandorojo can you help?

[2021-05-20 12:18] nandorojo commented on #1168
My guess is it defaults to just refetching the latest page. Not sure though, since I don't maintain swr.

You could try toggling `revalidateAll`, although I'm not totally sure what your expected behavior is.

[2021-05-20 13:15] talkl commented on #1168
@nandorojo basically I want the option to reset the page. If the key is changed because of propane it is obviousness that I want to always start from page 1 and not fetch all pages up until the page I was at for the precious key

[2021-05-20 13:19] nandorojo commented on #1168
What if you `setSize(1)`

[2021-05-20 15:33] steida commented on #1131
I wish SWR was a resilient Hook. useEffect with ref is an ugly hack of broken API.

https://overreacted.io/writing-resilient-components/

[2021-05-20 16:19] sjchmiela commented on #662
@wobsoriano I was able to make `useSWRInfinite` rerender after calling global `mutate` without revalidation by specifying an internal form of `key` for the mutated cache:

[code]

Got the idea from:
https://github.com/vercel/swr/blob/10c00808852de8480e2521b9ec68872c502e080d/src/use-swr-infinite.ts#L45-L48
and

https://github.com/vercel/swr/blob/10c00808852de8480e2521b9ec68872c502e080d/src/use-swr-

[2021-05-20 16:20] sjchmiela commented on #1156
I was able to find a workaround for this today, see [comment](https://github.com/vercel/swr/issues/662#issuecomment-845263259):

tl;dr: use this specific `infiniteKey` formula:

[code]

[2021-05-20 17:43] talkl commented on #1168
@nandorojo doesn't work. niether do revalidateAll

[2021-05-20 17:49] nandorojo commented on #1168
🤷‍♂️

[2021-05-21 04:15] ivan-kleshnin commented on #1131
This is not true. We use local fetchers most of the time:

[code]

[2021-05-29 12:40] koba04 commented on #1156
A solution in https://github.com/vercel/swr/issues/1156#issuecomment-845264050 might work at this time, but it would be broken in the future. For example, https://github.com/vercel/swr/pull/1174 breaks your solution.
I think SWR should provide a solution to generate the key, which doesn't depend on the internal implementation if there is any valid use-case that the global `mutate` has to use.

[2021-05-29 12:55] koba04 commented on #1129
@ChangJoo-Park I've confirmed this issue, so I've fixed it as #1183

[2021-05-29 17:33] #1129 closed

[2021-05-31 16:40] mittalsuraj18 opened #1188 "Calling useSWR immediately after mutate returns undefined and does not rerender component"
# Bug report

## Description / Observed Behavior

1. Call a useSWR immediately method with the same key as mutate.
2. Component should re render due to new data.

## Expected Behavior

useSWR data should have a value

## Repro Steps / Code Example

[code]

[2021-06-01 02:07] promer94 commented on #1188
I think this problem might be a duplicate of #1074 which got fixed in #1075
Could you try the latest beta version of SWR ?

[2021-06-01 13:49] shuding commented on #1156
I'm not sure if it's a good idea to expose internal implementation details (things like `inf`), as they will likely to change over time. The idea of #1174 is to support use cases like `mutate(regex)` or `mutate(filterFn)` in the future.

While `useSWRInfinite` is a truly special case, I'd propose a `mutateInfinite` method so you can do `mutateInfinite(KEY_FOR_FIRST_PAGE)` or `mutateInfinite(getKey

[2021-06-02 06:58] marsonmao commented on #363
Any possible reason that `mutate(["/api/users", 1]);` is not triggering `fetcher`?
I'm doing the same setup, but `fetcher` is not fired.

[2021-06-02 09:32] mittalsuraj18 commented on #1188
@promer94 I updated to beta version. But it broke compatibility as the cache object was not accessible in the code.

For context, the reason i try to access cache object is for prefetching.

Example: if i hover over an element, i perform prefetch using mutate. But if i have the data and perform hover again, the data should not be fetched again.

Is there any way to perform this check on mutate obj

[2021-06-02 13:42] promer94 commented on #1188
It might be helpful that you could access cache data by providing a update function to the mutate
[code]
FYI: https://codesandbox.io/s/simple-prefetch-yp9kz

[2021-06-02 14:29] maciej-lepb opened #1195 "isValidating from useSWRInfinite is an empty string after mutate()"
# Bug report

## Description / Observed Behavior

`isValidating` from `useSWRInfinite` is an empty string (`""`) after `mutate()` is called for an errored request.

The sequence is:
1. useSWRInfinite...
2. `isValidating` is true (correct)
3. request fails with 500, `isValidating` is false (correct)
4. `mutate()` is called (the same is with `mutate(undefined, false)` and `mutate(undefined, true)`
5

[2021-06-03 02:17] sharanrprasad commented on #1151
@shuding I tried with the beta version on React Native as well, still the cache persists. We need a way to clear initialData and the cache so that the when the user logs out we can start fresh again.

Currently we have disabled validateOnMount option, to avoid unnecessary reloads between screen transitions.

[2021-06-03 06:49] JackZheng10 commented on #1147
I was going through the same bug. This was very helpful! I ended up clearing the cache and then redirecting manually to the login screen, where revalidation would be done for my api/user endpoint. Otherwise, if logging in to another account I had leftover data from the previous account in the cache that had to be revalidated for other endpoints. This was pretty similar to what another user mention

[2021-06-03 09:31] skoob13 commented on #284
There is the another workaround using `cache`. It allows to delete cache entry synchronously before initialization of `useSWR` hook, so it removes the useless rerender from other solutions:
[code]
However, it doesn't delete other SWR cache entries for `isValidation` and `error` states. If you need that, there is `cache.serializeKey` method that returns additional keys.

[2021-06-03 11:51] TommySorensen commented on #943
Isn't this fixed by setting the `dedupingInterval` to higher than `2000`which is the default value?

[2021-06-03 13:27] koba04 commented on #1195
@maciej-lepb Could you provide a [CodeSandbox](https://codesandbox.io) project to  re-produce this?

[2021-06-03 21:00] mittalsuraj18 commented on #1188
Thanks a lot @promer94
This fixed my issue.
I can confirm that this issue is resolved in the beta.

Closing this issue.
Thanks.

[2021-06-03 21:00] #1188 closed

[2021-06-07 10:47] felixcatto commented on #284
I also ran into this problem. I have custom SSR implementation, no NextJs.
What we want

[code]

But the problem is that SWR have no knowledge about is our app rendering first time or not. And i doubt that it a SWR concern.
I also make little workaround

[code]

And i added this code at top of my app
[code]

[2021-06-09 15:33] nimabrownlee commented on #761
@RaddishIoW Hey, how do you use it?

I tried `mutateMany('**/tasks/*', undefined, true)` but it removes the task list. How can I make it just re-fetch?

[2021-06-09 15:58] 99diagha commented on #761
@nimabrownlee Here is another way to mutate keys matching a regex:

[code]

[code]

[2021-06-10 09:22] RaddishIoW commented on #761
Hmmm... All I do to force a re-fetch is to call `mutateMany(<key>)`. I don't pass anything but the key.

[2021-06-11 08:47] huozhi commented on #761
We're working on the [doc](https://github.com/vercel/swr-site/pull/99) for `swr@beta` to land the new cache API to support this feature. The current exposed `cache` in `swr@0.x.x` is not documented and highly risky to use.

There's a example section for partial mutation in that PR, feel free to give a try with `swr@beta`, look forward to the feedbacks.

[2021-06-13 12:26] conquestmakes opened #1214 "Confusing explanation of how errors work when data is returned from the mutate method using function"
# Bug report

## Description / Observed Behavior

[The explanation](https://swr.vercel.app/docs/mutation#returned-data-from-mutate) of how errors work/are thrown when returning data from the mutate method and using a function is confusing. It could potentially be undetstood as errors are always thrown.

## Expected Behavior

I am assuming that the errors mentioned are thrown by the provided method

[2021-06-14 09:59] nzpopa commented on #332
Same

[2021-06-16 20:09] tons613 commented on #981
I have resolved it. In my case I found out that the problem was not swr, but the problem was the webpack version

[2021-06-17 07:21] shuding commented on #332
Hi @nzpopa, I'm not able to reproduce this issue personally. Would be great if you can provide a basic reproduction on CodeSandbox to help me identify the problem, thanks!

I'll re-open this issue when more information is provided (version, reproduction, etc.).

[2021-06-17 07:21] #332 closed

[2021-06-17 07:53] huozhi commented on #1214
Closed via https://github.com/vercel/swr-site/pull/105

[2021-06-17 07:53] #1214 closed

[2021-06-17 07:59] huozhi commented on #1151
@sharanrprasad I tried your codesandbox and did a little change for swr@beta integration. the new mutation works well. let us know if you have further questions

[code]

the mutate

[2021-06-17 07:59] #1151 closed

[2021-06-17 09:29] shuding commented on #934
Will re-open this if we get new reports with detailed reproduction.

[2021-06-17 09:29] #934 closed

[2021-06-17 11:08] alimertcakar commented on #1151
This mutates only "/post", how would you mutate keys?

[2021-06-17 11:20] huozhi commented on #1151
@alimertcakar checkout the [cache#mutate-multiple-keys](https://swr.vercel.app/advanced/cache#mutate-multiple-keys) section. With the new cache API you can customized those logic into regex or glob pattern gracefully

[2021-06-17 11:24] huozhi commented on #761
Docuement and examples are landed in [swr.vercel.app/advanced/cache](https://swr.vercel.app/advanced/cache)

[2021-06-17 11:24] #761 closed

[2021-06-17 19:03] huozhi commented on #644
@derolf Close as stale, will reopen once have a codesandbox repro

[2021-06-17 19:03] #644 closed

[2021-06-17 19:06] #403 closed

[2021-06-17 19:13] huozhi commented on #274
Now swr can support those customizations already!

[2021-06-17 19:13] #274 closed

[2021-06-17 22:44] shuding commented on #1147
I've updated the example based on @promer94's fix, thank you all!

[2021-06-17 22:44] #1147 closed

[2021-06-18 10:51] mazWaz commented on #376
i use like this but my tigger and mutate not response

[2021-06-20 02:33] promer94 commented on #1168
The actual problem in this example is that the next callback of react-infinite-scroll-component would be called multiply times after changing the input (because the scroll position does not reset to top)

**useSWRInfinite does reset the current index by default**

According to the implementation https://github.com/ankeetmaini/react-infinite-scroll-component/blob/d5b4e5250669022db5217763afd22fb3995

[2021-06-20 12:54] talkl commented on #1168
@promer94 You rock!! it works

[2021-06-21 08:12] vishnuvchandar opened #1223 "Conditional Fetching throws "TypeError: Cannot read property 'protocol' of null" when multiple arguments"
# Bug report
when using conditional fetching (with axios) multiple arguments, swr throws an error. Due to this, unable to differentiate with other valid errors

## Description / Observed Behavior
"TypeError: Cannot read property 'protocol' of null" when using below code

`requestInfo=[url,data]  /* here url is null and a non null data*/

fetcher = (url,data) => axios.post(url, JSON.parse(data)).th

[2021-06-21 10:40] shuding commented on #1223
It seems you are running `JSON.parse` over an object (`data`), which is not needed.

[2021-06-21 10:41] #1223 closed

[2021-06-22 08:32] svenlombaert opened #1229 "Bound mutate doesn't update array of objects correctly"
# Bug report

## Description / Observed Behavior

When updating an array of objects, swr doesn't update the cache correctly

## Expected Behavior

swr should update the cache correctly when mutating an array of objects

## Repro Steps / Code Example

1. Clicking any of the checkboxes doesn't mutate the data

https://codesandbox.io/s/swr-bug-mutate-array-zlodw?file=/src/App.tsx

## Additional Conte

[2021-06-22 09:14] svenlombaert commented on #1229
Okay yeah, it's because the object references are the same. Closing this as expected JS behaviour.

[2021-06-22 09:14] #1229 closed

[2021-06-22 11:42] huozhi commented on #973
@mehthabux you can checkout the [custom cache API doc](https://swr.vercel.app/advanced/cache) to implement this. In the example section there's one for syncing state to `localStorage`, I believe it could be replaced with `AsyncStorage` with combination of lifecycle and events in RN.

[2021-06-22 15:50] koba04 commented on #1095
@nicholaschiang
The example in the documentation has a `crossorigin` attribute, but your code doesn't.

[code]

https://swr.vercel.app/docs/prefetching#top-level-page-data

I think the `crossorigin` attribute is necessary to preload a fetch request.

https://developer.mozilla.org/en-US/docs/Web/HTML/Link_types/preload#cors-enabled_fetches

[2021-06-22 19:01] shuding commented on #973
Closing as above.

[2021-06-22 19:01] #973 closed

[2021-06-23 10:23] beetlebum opened #1237 "React Native crash with swr@1.0.0-beta.7"
# Bug report

## Description / Observed Behavior

There is a crash with swr@1.0.0-beta.7 on React Native 0.64.2, just by importing the module:

[code]

which seems to point to `window.addEventListener.bind(window)`

[2021-06-23 11:35] javascripter commented on #1237
I submitted a PR that fixes this issue:
https://github.com/vercel/swr/pull/1234

[2021-06-23 11:38] beetlebum commented on #1237
thank you, I'll close this issue.

[2021-06-23 11:38] #1237 closed

[2021-06-24 02:41] leerob opened #1238 "Feedback on documentation improvements"
### Mutate Docs

- using "false" to disable revalidation before being explained in a comment later
- what "updateUser" is as the description in the comment isn't very clear

![image](https://user-images.githubusercontent.com/9113740/123194259-ccf30580-d46b-11eb-9670-11e367487285.png)

[Source](https://twitter.com/justinobney/status/1407887704906469379)

[2021-06-24 18:55] simplenotezy commented on #908
@pedro-pedrosa That workaround does not work for me.

[2021-06-24 21:04] shuding opened #1240 "E2E tests"
It would be great if SWR has some e2e tests covered, since SWR uses a lot of navigator specific APIs, and they varies between environments. We should explore adding e2e tests of Chrome, Firefox, Safari, Safari iOS and React Native to SWR.

[2021-06-27 11:51] pablocubico commented on #284
For any other googlers running into this, remember to be 100% certain that the key is the same. If you are using a custom fetcher, beware! I was struggling with this until I found out about the "multiple arguments" feature.

https://swr.vercel.app/docs/arguments#multiple-arguments

Example:

[code]

As the docs say: `The function fetchWithToken still accepts the same 2 arguments, but the cache key

[2021-06-27 14:43] huozhi commented on #284
Now with `swr@beta`, If you're using next.js, you can use custom cache API to initialize the very first state

[code]

[2021-06-28 07:57] joe-bell opened #1244 "If a fetcher isn't defined, useSWR shouldn't fetch"
# Bug report

## Description / Observed Behavior

In [Orchest](https://github.com/orchest/orchest), we recently implemented @pacocoursey's fantastic suggestion of [using SWR as a shared state hook](https://paco.sh/blog/shared-hook-state-with-swr).

The pattern works great, but has one caveat: `useSWR` still attempts to fetch the `key` value as an endpoint, even though no `fetcher` is defined.

##

[2021-06-28 14:36] huozhi commented on #523
Close as duplicate with #284. One possible solution per https://github.com/vercel/swr/issues/284#issuecomment-869174803

[2021-06-28 14:36] #523 closed

[2021-06-28 17:27] pacocoursey commented on #1244
I also received an email with confusion about this as a result of my blog post (since I haven't updated it since the default fetcher was added) but in the code, `null` is documented as the correct workaround:

https://github.com/vercel/swr/blob/654fb5e2a3a0f76a1dbc7fcd8562549868c31c31/src/resolve-args.ts#L40-L44

I think we could potentially support it by manually checking `arguments.length` and `

[2021-06-28 18:14] #249 closed

[2021-06-28 18:18] huozhi commented on #208
Close as resolved as we have [concurrent test](https://github.com/vercel/swr/blob/master/test/use-swr-concurrent-mode.test.tsx ) now

[2021-06-28 18:18] #208 closed

[2021-06-28 18:21] huozhi commented on #69
To kee the core simple, going to close this issue to let community apply swr with more flexibility coustomizations.

[2021-06-28 18:21] #69 closed

[2021-06-28 18:29] huozhi commented on #275
@feclist could you try the solution posted in https://github.com/vercel/swr/issues/284#issuecomment-869174803 ?
Will close this issue as it seems to be reoslved with `swr@beta`, feel free to comment or reopen if you have any further issues

[2021-06-28 18:29] #275 closed

[2021-06-28 18:30] huozhi commented on #304
@pawelphilipczyk could you try the solution posted in #284 (comment) ?
Will close this issue as it seems to be reoslved with swr@beta, feel free to comment or reopen if you have any further issues

[2021-06-28 18:30] #304 closed

[2021-06-28 18:34] #484 closed

[2021-06-28 18:43] huozhi commented on #141
For various use cases, user can customize their own status indicator logic on top of SWR. Close it as it's something as designed in current phase.

[2021-06-28 18:43] #141 closed

[2021-06-28 18:49] #359 closed

[2021-06-28 18:52] huozhi commented on #630
You could use custom cache to build out this feature now. Checkout [cache#sync-cache-to-localstorage](https://swr.vercel.app/advanced/cache#sync-cache-to-localstorage) for details

[2021-06-28 18:52] #630 closed

[2021-06-28 18:53] shuding commented on #1244
Thank you Joe and Paco! This will be a breaking change, but I'd love to rollback to the stage that no default fetcher is provided, so let's plan this in 1.x.

[2021-06-28 19:01] huozhi commented on #230
could you try the solution posted in https://github.com/vercel/swr/issues/284#issuecomment-869174803 ?
Will close this issue as it seems to be reoslved with `swr@beta`, feel free to comment or reopen if you have any further issues

[2021-06-28 19:01] #230 closed

[2021-06-28 19:46] william-hotmart commented on #781
At the end what is the solution? Implement our own cache and do not cache values when in test environment?
I've still got problems with cache in my tests even using the workarounds that were proposed here

[2021-06-29 05:48] joe-bell commented on #1244
Thank you both!

[2021-06-29 06:52] Develliot commented on #1156
This would also solve my scenario mentioned here https://github.com/vercel/swr/discussions/631

[2021-06-29 17:42] #293 closed

[2021-06-29 18:20] shuding commented on #284
As https://github.com/vercel/swr/issues/284#issuecomment-869174803 mentioned, the new Cache API will be the official replacement of `initialData` for many use cases. Please try it out! We have a more detailed docs here too: https://swr.vercel.app/advanced/cache.

[2021-06-30 17:27] #242 closed

[2021-07-03 00:34] jjerror-sequoia opened #1265 "isValidating is undefined when changing key from null to a string"
# Bug report

## Description / Observed Behavior

When changing key from `null` to a valid string value, there is an extra rerender where `isValidating` is undefine.

## Expected Behavior

Once the key is set to non-null value. it should return `isValidating` to be `true`.

## Repro Steps / Code Example

Code example: https://codesandbox.io/s/undefined-isvalidating-0jkpw

## Additional Context

SW

[2021-07-05 12:17] simplenotezy commented on #908
@woxxy Could you elaborate more on your workaround, specifically regarding "use the import mutate() to modify the key-cache"? Perhaps with a code example, would be awesome!

[2021-07-06 10:27] harshtyagi opened #1269 "useSWRInfinite: setSize stops working when getKey fn is updated"
# Bug report

## Description / Observed Behavior

After updating the getKey fn, useSWRInfinite's setSize stops updating the size.
Issue occurs for swr 0.5.6, works as expected on 0.5.0

## Expected Behavior

Expected to work like version 0.5.0 where setSize changes the page after getKey fn is updated.

## Repro Steps / Code Example

Code example: https://codesandbox.io/s/recursing-dhawan-ucefb

1.

[2021-07-06 16:43] oguzgelal opened #1273 "Typescript: Issue with type assigned to `data`"
# Bug report

## Description / Observed Behavior

Not sure if I'm missing anything, but the type of `data` returned from the `useSWR` hook seems incorrect. Take below example:

<img width="666" alt="Screenshot 2021-07-06 at 19 31 03" src="https://user-images.githubusercontent.com/2817993/124636518-4db0f900-de91-11eb-89c4-f4e80ac902eb.png">

I provide `TestData` type, and the type assigned to the `

[2021-07-06 17:34] oguzgelal commented on #1273
Ah I was looking at the wrong `tsconfig.json`, the `strict` option was disabled..

The types are correct!

[2021-07-06 17:34] #1273 closed

[2021-07-07 05:50] origin-master opened #1274 "swr/infinite behaves weirdly without specifing fetcher function"
# Bug report

## Description / Observed Behavior
[code]

## Expected Behavior
Return same value between two cases, if \[specified `fetcher`\] and \[`fetcher` in `SWRConfig`\] is the same one.

## Repro Steps / Code Example
Here's a (hopefully) reproducible code example: https://codepen.io/origin-master/pen/qBmZRmM
[code]

## Additional Context
SWR version: `1.0.0-beta.8`

[2021-07-07 11:48] promer94 commented on #1269
Hi, Thank for your codesandbox !

However, this is not a bug of useSWRInfinite

The reason for the current behavior is because
[code]

[2021-07-07 17:16] origin-master opened #1275 "createCache with revalidateOnFocus does not work"
# Bug report

## Description / Observed Behavior
Custom cache settings in `1.0.0-beta.8` disables `revalidateOnFocus` behaviour; `focus` and `visibilitychange` events are not revalidating SWR caches.

## Expected Behavior
Revalidate on focus on `revalidateOnFocus: true`, as non-cache version does.

## Repro Steps / Code Example
CodePen: https://codepen.io/origin-master/pen/WNjwgYy

## Additional C

[2021-07-08 09:10] harshtyagi commented on #1269
@promer94 Thanks a lot. This fixed my issue.

[2021-07-08 09:10] #1269 closed

[2021-07-10 11:55] huozhi commented on #1265
Should be already fixed in `swr@beta`, could you try to upgrade and check it again?

[2021-07-10 11:55] #1265 closed

[2021-07-11 16:24] mhsattarian opened #1286 "setSize on useSWRInfinite when page index is null output object as data instead of undefined"
# Bug report

## Description / Observed Behavior

When page index (first parameter of `useSWRInfinite`) is `null` and setSize method is called, data instead of being `undefined` (as expected) becomes an object as below:

[code]

## Expected Behavior

It should output `undefined` as data.

## Repro Steps / Code Example

use the [swr-infinite CodeSandbox](https://codesandbox.io/s/swr-infinite-z6r0r)

[2021-07-11 16:42] johnvonneumann7 opened #1287 "How can I cache the InitialData of useSWRInfinite?"
As the title says, you need to cache the InitialData with useSWRInfinite.
Every time I load a page after the first page, the InitialData is lost.
What should I do?

## Repro Steps / Code Example

[code]

SWR version: 0.5.6

[2021-07-12 17:33] #1156 closed

[2021-07-13 02:16] johnvonneumann7 commented on #1287
It turns out that this just means that InitialData is not cached, but is it impossible to cache InitialData?

[2021-07-14 05:48] shuding commented on #1287
Please check the new cache API, you should be able to provide a prefilled cache with it: https://swr.vercel.app/docs/advanced/cache.

[2021-07-14 05:48] #1287 closed

[2021-07-17 02:08] vishnuvchandar commented on #1223
@shuding I have used stringify. If you look carefully that my fetcher parsing it. SWR uses stringify and the axios fetcher parses it before invoking the rest call.

[2021-07-17 09:32] shuding commented on #1223
I see. To conditionally skip a request, you should pass null as the key, not just the URL in your case.

[code]

[2021-07-17 12:23] tadinski commented on #150
@itsSunnysCode could you share an example of your solution please?

[2021-07-18 11:29] shuding commented on #1286
This bug should have been fixed in the latest beta, I cannot reproduce it here: https://codesandbox.io/s/swr-infinite-forked-mx7wc.

[2021-07-18 11:29] #1286 closed

[2021-07-19 10:47] #1275 closed

[2021-07-19 14:13] shuding commented on #908
If you want to revalidate **all** pages after mutating, you need to pass the [`revalidateAll: true` option](https://swr.vercel.app/docs/pagination#api):

[code]

By default, SWR Infinite only revalidates the first page (there's a PR that fixes this behavior: #1301) that's because in most infinite loading cases, it's too expensive to revalidate everything.

[2021-07-19 14:34] #908 closed

[2021-07-19 20:15] pkellner opened #1302 "Problem calling mutate twice in a row, second call ignored"
# Bug report

## Unable to mutate multiple times in a row

## Expected Behavior

display should show 11,12,13,14,15

## Code

I get that if I push the two values in one mutate call that I will get both values, but I need to programmatically update the data array multiple times in the same event.  The code below seems to ignore the second mutate.

https://codesandbox.io/s/billowing-shadow-1wx6f?fil

[2021-07-20 06:34] chilingling commented on #1302
you should use the third params `false`, so it will not revalidation and use return data directly
[code]

[2021-07-20 07:47] pkellner commented on #1302
Not following how I'd do that.

[2021-07-20 09:10] shuding commented on #1302
This is not a bug if I understand your code correctly. You’re mutating with the **same** data twice here:

[code]

Please take a look at Mutate Based on Current Data: https://swr.vercel.app/docs/mutation#mutate-based-on-current-data.

[2021-07-20 09:10] #1302 closed

[2021-07-20 09:39] chilingling commented on #1302
@pkellner sorry i misunderstand what you want to do firtsly, as shuding say, you can't mutating same data twice,swr will deduplication the second mutation automaticly, you can try a hack way like this
[code]
https://codesandbox.io/s/gifted-davinci-lo93i?file=/src/App.js

[2021-07-20 12:48] pkellner commented on #1302
@shuding I now understand that I'm mutating the same data twice.  The problem I'm trying to solve is that I am calling mutate from a far away method twice (creating two records where I can't easily update the method to mutate both at the same time).  With useState, I can do the following and it works as expected.  Is there anything similar for SWR?

[code]